﻿@model Web1App.ViewModels.AllUsersViewModel 
@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/Admin/NavBar.cshtml";
}
<head>
    <link href="~/Content/AllUsers.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>
<body>
    <form action="~/Admin/SearchSortAllUsers" method="post">
        <div class="container" id="searchForm">
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="@Model.Search.Name" />
                </div>
                <div class="col-sm-3 form-group">
                    <label for="surname">Surname</label>
                    <input type="text" class="form-control" id="surname" name="surname" value="@Model.Search.Surname" />
                </div>
                <div class="col-sm-4 form-group">
                    <label for="role">Role</label>
                    @Html.DropDownList("role", (List<SelectListItem>)Model.Search.BindRole(), new { @class = "form-control" })
                </div>
                <div class="col-sm-2 form-group search-div">
                    <button id="search" type="submit" class="btn btn-success" name="search" value="Search">Search</button>
                </div>
            </div>
        </div>
        <div class="container" id="sort">
            <div class="row">
                <div class="col-sm-10 form-group">
                    @Html.DropDownList("users_sort", (List<SelectListItem>)Model.Sort.BindUsersSort(), new { @class = "form-control" })
                </div>
                <div class="col-sm-2 form-group sort-div">
                    <button id="sort" type="submit" class="btn btn-success" name="sort" value="Sort">Sort</button>
                </div>
            </div>
        </div>
            <div class="container" id="users">
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#tableOfUsers').DataTable({
                            "pagingType": "first_last_numbers",
                            "pageLength": 5,
                            "lengthMenu": [[5], [5]],
                            "bSort": false,
                            "language": {
                                "lengthMenu": "Show _MENU_  users",
                                "info": "Showing _START_ to _END_ of _TOTAL_ users",
                                "infoEmpty": "Showing 0 to 0 of 0 users",
                            }
                        });
                        $('.dataTables_length').addClass('bs-select');
                    });
                </script>
                <div class="row content-row">
                    <div class="col-sm-6 form-group" id="table-group">
                        <div class="table-responsive">
                            <table class="table" id="tableOfUsers"s>
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Surname</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Date of birth</th>
                                        <th scope="col">Gender</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var user in Model.Users)
                                        {
                                            <tr class="clickable-row">
                                                <td>@user.Name</td>
                                                <td>@user.Surname</td>
                                                <td>@user._Role.ToString()</td>
                                                <td>@user.Username</td>
                                                <td>@user.Email</td>
                                                <td>@user.Date</td>
                                                <td>@user._Gender</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</body>

