﻿@model Web1App.ViewModels.ArrangementViewModel

@{
    ViewBag.Title = "Arrangement";
    Layout = "~/Views/Shared/Admin/NavBar.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <link href="~/Content/Arrangement.css" rel="stylesheet" />
</head>
<script type="text/javascript">
    $('document').ready(function () {
        // img src
        var oldImgSrc = document.getElementById("poster").src;

        $('#timeOfDeparture').ready(function () {
            document.getElementById('timeOfDeparture').value = "@Model.Arrangement.TimeOfDeparture";
        });

        InitMap();
    });

    function InitMap() {
        //map
        var view = new ol.View({
            projection: 'EPSG:4326',
            center: [@Model.Arrangement._PlaceOfDeparture.Longitude, @Model.Arrangement._PlaceOfDeparture.Latitude],
            zoom: 6,
            minZoom: 3,
            maxZoom: 17,
        });
        var OSMBaseMap = new ol.layer.Tile({
            source: new ol.source.OSM({
                wrapX: false
            })
        });
        var layerArray = [OSMBaseMap];
        var map = new ol.Map({
            target: 'map',
            layers: layerArray,
            view: view
        });
        var drawSource = new ol.source.Vector();
        var drawLayer = new ol.layer.Vector({
            source: drawSource
        });
        map.addLayer(drawLayer);

        var latitude = @Model.Arrangement._PlaceOfDeparture.Latitude;
        var longitude = @Model.Arrangement._PlaceOfDeparture.Longitude;
        var coordinates = [longitude,latitude];
        var newPoint = new ol.geom.Point(coordinates);
        var newPOD = new ol.Feature({
            name: 'Place of departure',
            geometry: newPoint
        });
        let style = new ol.style.Style({
            image: new ol.style.Circle({
                fill: new ol.style.Fill({
                    color: '#dc143c'
                }),
                stroke: new ol.style.Stroke({
                    color: '#dc143c'
                }),
                radius: 5
            }),
        });
        newPOD.setStyle(style);
        drawSource.addFeature(newPOD);
    }
</script>
<body>
    <form id="form_search_sort_accommodations" action="~/Admin/SearchSortAccommodations" method="get">
        <div class="container" id="arrangement">
            <div class="row">
                <div class="col-sm-3 form-group">
                    <input type="text" id="arrangement_id" name="arrangement_id" value="@Model.Arrangement.ID" hidden="hidden" />
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" disabled="disabled" value="@Model.Arrangement.Name" />
                </div>
                <div class="col-sm-3 form-group">
                    <label for="location">Location</label>
                    <input class="form-control" id="location" name="location" disabled="disabled" value="@Model.Arrangement.Location" />
                </div>
                <div class="col-sm-3 form-group">
                    <label for="arrangementType">Type of arrangement</label>
                    @Html.DropDownList("arrangementType", (List<SelectListItem>)Model.Arrangement.BindArrangementType(), new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-sm-3 form-group">
                    <label for="transport">Transport</label>
                    @Html.DropDownList("transport", (List<SelectListItem>)Model.Arrangement.BindTransport(), new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="startdate">Start date</label>
                    <input type="date" class="form-control" id="startdate" name="startdate" disabled="disabled" value="@Model.Arrangement.ConvertDateForView(Model.Arrangement.StartDate, "-")" />
                </div>
                <div class="col-sm-3 form-group">
                    <label for="enddate">End date</label>
                    <input type="date" class="form-control" id="enddate" name="enddate" disabled="disabled" value="@Model.Arrangement.ConvertDateForView(Model.Arrangement.EndDate, "-")" />
                </div>
                <div class="col-sm-3 form-group">
                    <label for="timeOfDeparture">Time of departure</label>
                    <input type="time" class="form-control" id="timeOfDeparture" name="timeOfDeparture" disabled="disabled" value="@Model.Arrangement.TimeOfDeparture" />
                </div>
                <div class="col-sm-3 form-group">
                    <label for="maxNum">Maximum number of passengers</label>
                    <input type="number" class="form-control" id="maxNum" name="maxNum" disabled="disabled" value="@Model.Arrangement.MaxNumOfPassengers" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="arrangDescription">Arrangement description</label>
                    <textarea class="form-control" id="arrangDescription" name="arrangDescription" disabled="disabled">@Model.Arrangement.ArrangementDescription</textarea>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="travelDescription">Travel description</label>
                    <textarea class="form-control" id="travelDescription" name="travelDescription" disabled="disabled">@Model.Arrangement.TravelDescription</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="poster">Poster</label>
                    <img src=@Model.Arrangement.Poster alt="Poster of arrangement" class="img-thumbnail" id="poster" />
                    <input type="file" id="poster-path" hidden="hidden" />
                </div>
                <div class="col-sm-8 form-group map-container" id="map">
                    <label for="placeOfDeparture">Place of departure</label>
                </div>
            </div>
            <div class="row map_data">
                <div class="col-sm-3 form-group">
                    <label for="street">Street</label>
                    <input class="form-control" type="text" id="street" disabled="disabled" name="street" value="@Model.Arrangement._PlaceOfDeparture.GetStreet()" />
                </div>
                <div class="col-sm-1 form-group">
                    <label for="house_number">Number</label>
                    <input class="form-control" type="number" id="house_number" disabled="disabled" name="number" value="@Model.Arrangement._PlaceOfDeparture.GetHouseNumber()" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="city">City</label>
                    <input class="form-control" type="text" id="city" disabled="disabled" name="city" value="@Model.Arrangement._PlaceOfDeparture.GetCity()" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="postal">Postal code</label>
                    <input class="form-control" type="number" id="postal" disabled="disabled" name="postal" value="@Model.Arrangement._PlaceOfDeparture.GetPostalCode()" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="latitude">Latitude</label>
                    <input class="form-control" type="number" step="any" id="latitude" disabled="disabled" name="latitude" value="@Model.Arrangement._PlaceOfDeparture.Latitude" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="longitude">Longitude</label>
                    <input class="form-control" type="number" step="any" id="longitude" disabled="disabled" name="longitude" value="@Model.Arrangement._PlaceOfDeparture.Longitude" />
                </div>
            </div>
        </div>
        <div class="container" id="accommodationsSearch">
            <div class="row">
                <div class="col-sm-12 form-group accommodation-search">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="acc_type">Type</label>
                            @Html.DropDownList("acc_type", (List<SelectListItem>)Model.AccommodationSearch.BindAccommodationType(), new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="acc_name">Name</label>
                            <input class="form-control" id="acc_name" name="acc_name" type="text" placeholder="Enter text..." value="@Model.AccommodationSearch.Name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label for="pool">Pool</label>
                            <input class="form-control" id="pool" name="pool" type="checkbox" checked="@Model.AccommodationSearch.Pool" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="spa">Spa</label>
                            <input class="form-control" id="spa" name="spa" type="checkbox" checked="@Model.AccommodationSearch.Spa" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="pwd">Adapted for PWDs</label>
                            <input class="form-control" id="pwd" name="pwd" type="checkbox" checked="@Model.AccommodationSearch.AdaptedForPWDs" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="wifi">WiFi</label>
                            <input class="form-control" id="wifi" name="wifi" type="checkbox" checked="@Model.AccommodationSearch.WiFi" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 search-group">
                            <input class="btn" type="submit" id="search" name="search" value="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="accommodationsSort">
            <div class="row">
                <div class="col-sm-10 form-group" id="sort-select-div">
                    @Html.DropDownList("accommodation_sort", (List<SelectListItem>)Model.AccommodationSort.BindAccommodationSort(), new { @class = "form-control" })
                </div>
                <div class="col-sm-2 form-group" id="sort-submit">
                    <input type="submit" name="sort" id="sort" class="btn form-control" value="Sort">
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            InitDataTable();
        });

        function InitDataTable() {
            $('#accommodationsTable').DataTable({
                "pagingType": "first_last_numbers",
                "pageLength": 5,
                "lengthMenu": [[5], [5]],
                "bSort": false,
                "language": {
                    "lengthMenu": "Show _MENU_  accommodations",
                    "info": "Showing _START_ to _END_ of _TOTAL_ accommodations",
                    "infoEmpty": "Showing 0 to 0 of 0 accommodations",
                },
                "orderCellsTop": true,
                "fixedHeader": true,
            });
            $('.dataTables_length').addClass('bs-select');
        }

    </script>
    <div class="container" id="accommodations">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive" id="tableResults">
                    <table class="table" id="accommodationsTable">
                        <thead>
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Name</th>
                                <th scope="col">Pool</th>
                                <th scope="col">Spa</th>
                                <th scope="col">Wifi</th>
                                <th scope="col">PWD</th>
                                <th scope="col">Total num. of units</th>
                                <th scope="col">Num. of free units</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var a in Model.Arrangement._Accommodations)
                                {
                                    <tr class="clickable-row" id="@a.ID">
                                        <td>@a._AccommodationType.ToString()</td>
                                        <td>@a.Name</td>
                                        <td><input type="checkbox" disabled checked="@a.Pool" /></td>
                                        <td><input type="checkbox" disabled checked="@a.Spa" /></td>
                                        <td><input type="checkbox" disabled checked="@a.WiFi" /></td>
                                        <td><input type="checkbox" disabled checked="@a.AdaptedForDisabledPeople" /></td>
                                        <td>@a.TotalNumberOfUnits</td>
                                        <td>@a.NumberOfFreeUnits</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <form id="form_select_accommodation" action="~/Admin/SelectAccommodation" method="post" hidden="hidden">
                        <input type="text" id="arrangement_id" name="arrangement_id" value="@Model.Arrangement.ID" />
                        <input type="text" id="accommodation_id" name="accommodation_id" />
                    </form>
                    <script type="text/javascript">
                        $(document).on("click", ".clickable-row", function () {
                            document.getElementById('accommodation_id').value = this.id;
                            $('#form_select_accommodation').submit();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>