﻿@model Web1App.ViewModels.UserViewModel
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/Admin/NavBar.cshtml";
}
<head>
    <link href="~/Content/MyProfile.css" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript">
        $('document').ready(function () {
            var validation = {

                //Inputs
                passwordVal: document.getElementById("password-val"),
                nameVal: document.getElementById("name-val"),
                surnameVal: document.getElementById("surname-val"),
                birthdateVal: document.getElementById("date-val"),
                emailVal: document.getElementById("email-val"),

                //Buttons
                saveVal: document.getElementById("save"),

                'CheckSaveBtn': function () {
                    var form = ValidateForm();
                    if (form) {
                        var details = UserDetailsChanged();
                        this.saveVal.disabled = !details;
                        return;
                    }
                    this.saveVal.disabled = !form;
                },
                'Reset': function () {
                    this.passwordVal.hidden = true;
                    this.nameVal.hidden = true;
                    this.surnameVal.hidden = true;
                    this.birthdateVal.hidden = true;
                    this.emailVal.hidden = true;
                },
                'SetPasswordVal': function (message) {
                    if (message != "") {
                        this.passwordVal.innerText = message;
                        this.passwordVal.hidden = false;
                    } else {
                        this.passwordVal.hidden = true;
                    }
                },
                'SetNameVal': function (message) {
                    if (message != "") {
                        this.nameVal.innerText = message;
                        this.nameVal.hidden = false;
                    } else {
                        this.nameVal.hidden = true;
                    }
                },
                'SetSurnameVal': function (message) {
                    if (message != "") {
                        this.surnameVal.innerText = message;
                        this.surnameVal.hidden = false;
                    } else {
                        this.surnameVal.hidden = true;
                    }
                },
                'SetBirthdateVal': function (message) {
                    if (message != "") {
                        this.birthdateVal.innerText = message;
                        this.birthdateVal.hidden = false;
                    } else {
                        this.birthdateVal.hidden = true;
                    }
                },
                'SetEmailVal': function (message) {
                    if (message != "") {
                        this.emailVal.innerText = message;
                        this.emailVal.hidden = false;
                    } else {
                        this.emailVal.hidden = true;
                    }
                },
            }

            var profileData = {
                'name': document.getElementById("name").value.toString(),
                'surname': document.getElementById("surname").value.toString(),
                'password': document.getElementById("password").value.toString(),
                'date': document.getElementById("date").value.toString(),
                'gender': document.getElementById("gender").value.toString(),
                'email': document.getElementById("email").value.toString(),
                'Cancel': function () {
                    document.getElementById("name").value = this.name;
                    document.getElementById("surname").value = this.surname;
                    document.getElementById("password").value = this.password;
                    document.getElementById("date").value = this.date;
                    document.getElementById("gender").value = this.gender;
                }
            };

            $("#edit").on("click", (function () {
                document.getElementById("edit").hidden = true;
                document.getElementById("save").hidden = false;
                document.getElementById("cancel").hidden = false;

                //Enable inputs
                DisableInputs(false);
            }));

            $("#cancel").click(function () {
                //Set visible buttons
                document.getElementById("edit").hidden = false;
                document.getElementById("save").hidden = true;
                document.getElementById("save").disabled = true;
                document.getElementById("cancel").hidden = true;

                //
                profileData.Cancel();

                //Hide validation fields
                validation.Reset();

                //Disable inputs
                DisableInputs(true);
            });


            $('#password').on('change', function () {
                const regex = /^[A-Za-z0-9]{8,}$/;
                if (!document.getElementById("password").value.match(regex)) {
                    if (document.getElementById("password").value == "") {
                        validation.SetPasswordVal("This field is required");
                    } else {
                        validation.SetPasswordVal("Password minimum length is 8 alphanumeric characters");
                    }
                } else {
                    validation.SetPasswordVal("");
                }
                // check form validity and enable/disable 'save' button
                validation.CheckSaveBtn();
            });

            $('#name').on('change', function () {
                const regex = /^[A-Za-z\s]+$/;
                if (!document.getElementById("name").value.match(regex)) {
                    if (document.getElementById("name").value == "") {
                        validation.SetNameVal("This field is required");
                    } else {
                        validation.SetNameVal("Name can contain only letters and spaces");
                    }
                } else {
                    validation.SetNameVal("");
                }
                // check form validity and enable/disable 'save' button
                validation.CheckSaveBtn();
            });

            $('#surname').on('change', function () {
                const regex = /^[A-Za-z\s]+$/;
                if (!document.getElementById("surname").value.match(regex)) {
                    if (document.getElementById("surname").value == "") {
                        validation.SetSurnameVal("This field is required");
                    } else {
                        validation.SetSurnameVal("Surname can contain only letters and spaces");
                    }
                } else {
                    validation.SetSurnameVal("");
                }
                // check form validity and enable/disable 'save' button
                validation.CheckSaveBtn();
            });

            $('#date').on('change', function () {
                var input = document.getElementById('date').value;
                if (input == "") {
                    validation.SetBirthdateVal("This field is required");
                } else {
                    const regex = /^(0[1-9]|[12][0-9]|3[01])[/](0[1-9]|1[012])[/](19|20)\d\d$/;
                    if (!input.match(regex)) {
                        validation.SetBirthdateVal("Invalid format");
                    } else {
                        var birthdate = new Date(input);
                        var currDate = new Date();
                        var dd = String(currDate.getDate()).padStart(2, '0');
                        var mm = String(currDate.getMonth() + 1).padStart(2, '0');
                        var yyyy = currDate.getFullYear() - 13;
                        var ageRequiredDate = new Date(mm + '/' + dd + '/' + yyyy);
                        if (birthdate > ageRequiredDate) {
                            validation.SetBirthdateVal("You need to be at least 13 years old to use this site (COPPA standard)");
                        } else {
                            validation.SetBirthdateVal("");
                        }
                    }
                }
                // check form validity and enable/disable 'save' button
                validation.CheckSaveBtn();
            });

            $('#email').on('change', function () {
                const regex = /^[\w\-\.]+@@([\w\-]+\.)+[\w\-]{2,4}$/;
                if (!document.getElementById("email").value.match(regex)) {
                    if (document.getElementById("email").value == "") {
                        validation.SetEmailVal("This field is required");
                    } else {
                        validation.SetEmailVal("Invalid email");
                    }
                } else {
                    validation.SetEmailVal("");
                }
                // check form validity and enable/disable 'save' button
                validation.CheckSaveBtn();
            });

            $('#gender').on("change", function () {
                validation.CheckSaveBtn();
            });

            function DisableInputs(disabled) {
                var inputs = document.getElementsByClassName("form-control");
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = disabled;
                }
            }

            function ValidateForm() {
                return (validation.passwordVal.hidden &&
                    validation.nameVal.hidden &&
                    validation.surnameVal.hidden &&
                    validation.birthdateVal.hidden &&
                    validation.emailVal.hidden);
            }

            function UserDetailsChanged() {
                return (
                    profileData.password != document.getElementById("password").value.toString() ||
                    profileData.surname != document.getElementById("surname").value.toString() ||
                    profileData.name != document.getElementById("name").value.toString() ||
                    profileData.date != document.getElementById("date").value.toString() ||
                    profileData.email != document.getElementById("email").value.toString() ||
                    profileData.gender != document.getElementById("gender").value.toString()
                );
            }
        });
    </script>

    <form id="mp-form" action="~/Admin/MyProfileRequest" method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="gender">Gender</label>
                    @Html.DropDownList("gender", (List<SelectListItem>)Model.BindGender(), new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-sm-6 form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" disabled value="@Model.User.Password">
                    <div hidden="hidden" class="validation-field" id="password-val">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" disabled value="@Model.User.Name">
                    <div hidden="hidden" class="validation-field" id="name-val">
                        Validation message
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="surname">Surname</label>
                    <input type="text" id="surname" name="surname" class="form-control" disabled value="@Model.User.Surname">
                    <div hidden="hidden" class="validation-field" id="surname-val">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="date">Date</label>
                    <input type="text" id="date" name="date" class="form-control" disabled value="@Model.User.Date" placeholder="dd/MM/yyyy">
                    <div hidden="hidden" class="validation-field" id="date-val">
                        Validation message
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" value="@Model.User.Email" disabled>
                    <div hidden="hidden" class="validation-field" id="email-val">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group edit-div">
                    <input type="button" id="edit" class="btn" value="Edit"  />
                    <input type="submit" id="save" class="btn btn-success" name="save" value="Save" disabled hidden />
                </div>
                <div class="col-sm-6 form-group cancel-div">
                    <input type="button" id="cancel" class="btn btn-danger" value="Cancel" hidden />
                </div>
            </div>
        </div>
    </form>
</body>

