﻿
@{
    ViewBag.Title = "NewManager";
    Layout = "~/Views/Shared/Admin/NavBar.cshtml";
}
<head>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/NewManager.css" rel="stylesheet" />
</head>
<script type="text/javascript">
    $('document').ready(function () {
        var validation = {

            //Inputs
            usernameVal: document.getElementById("username-val"),
            passwordVal: document.getElementById("password-val"),
            nameVal: document.getElementById("name-val"),
            surnameVal: document.getElementById("surname-val"),
            birthdateVal: document.getElementById("date-val"),
            emailVal: document.getElementById("email-val"),

            //Buttons
            submitVal: document.getElementById("create"),

            'CheckFormValidity': function () {
                this.submitVal.disabled = !(this.usernameVal.hidden &&
                    this.passwordVal.hidden &&
                    this.nameVal.hidden &&
                    this.surnameVal.hidden &&
                    this.birthdateVal.hidden &&
                    this.emailVal.hidden &&
                    document.getElementById("username").value.toString() != "" &&
                    document.getElementById("password").value.toString() != "" &&
                    document.getElementById("name").value.toString() != "" &&
                    document.getElementById("surname").value.toString() != "" &&
                    document.getElementById("date").value.toString() != "" &&
                    document.getElementById("email").value.toString() != "" &&
                    document.getElementById("gender").value.toString() != ""
                    );
            },
            'Reset': function () {
                this.usernameVal.hidden = true;
                this.passwordVal.hidden = true;
                this.nameVal.hidden = true;
                this.surnameVal.hidden = true;
                this.birthdateVal.hidden = true;
                this.emailVal.hidden = true;
                this.submitVal.disabled = false;
            },
            'SetUsernameVal': function (message) {
                if (message != "") {
                    this.usernameVal.innerText = message;
                    this.usernameVal.hidden = false;
                } else {
                    this.usernameVal.hidden = true;
                }
            },
            'SetPasswordVal': function (message) {
                if (message != "") {
                    this.passwordVal.innerText = message;
                    this.passwordVal.hidden = false;
                } else {
                    this.passwordVal.hidden = true;
                }
            },
            'SetNameVal': function (message) {
                if (message != "") {
                    this.nameVal.innerText = message;
                    this.nameVal.hidden = false;
                } else {
                    this.nameVal.hidden = true;
                }
            },
            'SetSurnameVal': function (message) {
                if (message != "") {
                    this.surnameVal.innerText = message;
                    this.surnameVal.hidden = false;
                } else {
                    this.surnameVal.hidden = true;
                }
            },
            'SetBirthdateVal': function (message) {
                if (message != "") {
                    this.birthdateVal.innerText = message;
                    this.birthdateVal.hidden = false;
                } else {
                    this.birthdateVal.hidden = true;
                }
            },
            'SetEmailVal': function (message) {
                if (message != "") {
                    this.emailVal.innerText = message;
                    this.emailVal.hidden = false;
                } else {
                    this.emailVal.hidden = true;
                }
            },
        }

        $("#username").on("change", function () {
            validation.fieldCounter++;
            const regex = /^([A-Za-z0-9]+[\.\-\_]{0,1})+$/;
            if (!document.getElementById("username").value.match(regex)) {
                if (document.getElementById("username").value == "") {
                    validation.SetUsernameVal("This field is required");
                } else {
                    validation.SetUsernameVal("Invalid username");
                }
            } else {
                validation.SetUsernameVal("");
            }
            // check form validity and enable/disable 'submit' button
            validation.CheckFormValidity();
        });

        $('#password').on('change', function () {
            validation.fieldCounter++;
            const regex = /^[A-Za-z0-9]{8,}$/;
            if (!document.getElementById("password").value.match(regex)) {
                if (document.getElementById("password").value == "") {
                    validation.SetPasswordVal("This field is required");
                } else {
                    validation.SetPasswordVal("Password minimum length is 8 alphanumeric characters");
                }
            } else {
                validation.SetPasswordVal("");
            }
            // check form validity and enable/disable 'submit' button
            validation.CheckFormValidity();
        });

        $('#name').on('change', function () {
            validation.fieldCounter++;
            const regex = /^[A-Za-z\s]+$/;
            if (!document.getElementById("name").value.match(regex)) {
                if (document.getElementById("name").value == "") {
                    validation.SetNameVal("This field is required");
                } else {
                    validation.SetNameVal("Name can contain only letters and spaces");
                }
            } else {
                validation.SetNameVal("");
            }
            // check form validity and enable/disable 'submit' button
            validation.CheckFormValidity();
        });

        $('#surname').on('change', function () {
            validation.fieldCounter++;
            const regex = /^[A-Za-z\s]+$/;
            if (!document.getElementById("surname").value.match(regex)) {
                if (document.getElementById("surname").value == "") {
                    validation.SetSurnameVal("This field is required");
                } else {
                    validation.SetSurnameVal("Surname can contain only letters and spaces");
                }
            } else {
                validation.SetSurnameVal("");
            }
            // check form validity and enable/disable 'submit' button
            validation.CheckFormValidity();
        });

        $('#date').on('change', function () {
            validation.fieldCounter++;
            var input = document.getElementById('date').value;
            if (input == "") {
                validation.SetBirthdateVal("This field is required");
            } else {
                const regex = /^(0[1-9]|[12][0-9]|3[01])[/](0[1-9]|1[012])[/](19|20)\d\d$/;
                if (!input.match(regex)) {
                    validation.SetBirthdateVal("Invalid format");
                } else {
                    var birthdate = new Date(input);
                    var currDate = new Date();
                    var dd = String(currDate.getDate()).padStart(2, '0');
                    var mm = String(currDate.getMonth() + 1).padStart(2, '0');
                    var yyyy = currDate.getFullYear() - 13;
                    var ageRequiredDate = new Date(mm + '/' + dd + '/' + yyyy);
                    if (birthdate > ageRequiredDate) {
                        validation.SetBirthdateVal("You need to be at least 13 years old to use this site (COPPA standard)");
                    } else {
                        validation.SetBirthdateVal("");
                    }
                }
            }
            // check form validity and enable/disable 'submit' button
            validation.CheckFormValidity();
        });

        $('#email').on('change', function () {
            validation.fieldCounter++;
            const regex = /^[\w\-\.]+@@([\w\-]+\.)+[\w\-]{2,4}$/;
            if (!document.getElementById("email").value.match(regex)) {
                if (document.getElementById("email").value == "") {
                    validation.SetEmailVal("This field is required");
                } else {
                    validation.SetEmailVal("Invalid email");
                }
            } else {
                validation.SetEmailVal("");
            }
            // check form validity and enable/disable 'submit' button
            validation.CheckFormValidity();
        });

        if ("@ViewBag.Success" == "True") {
            alert("Manager has been created successfully!");
        }
        if ("@ViewBag.Success" == "False") {
            alert("Manager has not been created, invalid data!");
        }

    });
</script>

<div class="body">
    <div class="container">
        <form action="~/Admin/NewManagerRequest" method="post">
            <br />
            <h3>Register new manager</h3>
            <br />
            <h6>All fields are required</h6>
            <br />
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" />
                    <div hidden="hidden" class="validation-field" id="username-val">
                        Validation message
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" />
                    <div hidden="hidden" class="validation-field" id="password-val">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" />
                    <div hidden="hidden" class="validation-field" id="name-val">
                        Validation message
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="surname">Surname</label>
                    <input type="text" class="form-control" id="surname" name="surname" />
                    <div hidden="hidden" class="validation-field" id="surname-val">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="date">Birthdate</label>
                    <input type="text" class="form-control" id="date" name="date" />
                    <div hidden="hidden" class="validation-field" id="date-val">
                        Validation message
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" />
                    <div hidden="hidden" class="validation-field" id="email-val">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="col-sm-6 form-group create-div">
                    <input type="submit" class="btn" id="create" name="create" value="Create" disabled />
                </div>
            </div>
        </form>
    </div>
</div>