﻿
@{
    ViewBag.Title = "Tourists";
    Layout = "~/Views/Shared/Admin/NavBar.cshtml";
}

<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>
<style>
    .container{
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    th{
        text-align: center;
    }

    td{
        text-align: center;
    }

</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".block").on("click", function () {
            document.getElementById('username').value = this.id;
            $('#form_block').submit();
        });
    });
</script>
<body>
    <form id="form_block" action="~/Admin/BlockTourist" method="post">
        <script type="text/javascript">
            $(document).ready(function () {
                $('#tableOfTourists').DataTable({
                    "pagingType": "first_last_numbers",
                    "pageLength": 5,
                    "lengthMenu": [[5], [5]],
                    "bSort": false,
                    "language": {
                        "lengthMenu": "Show _MENU_  tourists",
                        "info": "Showing _START_ to _END_ of _TOTAL_ tourists",
                        "infoEmpty": "Showing 0 to 0 of 0 tourists",
                    }
                });
                $('.dataTables_length').addClass('bs-select');
            });
        </script>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <div class="table-responsive">
                        <table class="table" id="tableOfTourists">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Num. of cancelings</th>
                                    <th scope="col">Block</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var user in ViewBag.Users)
                                    {
                                                                <tr>
                                                                    <td>@user.Username</td>
                                                                    <td>@user.Name</td>
                                                                    <td>@user.Surname</td>
                                                                    <td>@user._Role.ToString()</td>
                                                                    <td>@user.NumOfCancelings</td>
                                                                    @{
                                                                        if (user.Blocked)
                                                                        {
                                                                            <td><button class="btn btn-success block" id="@user.Username" type="button">Unblock</button></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td><button class="btn btn-danger block" id="@user.Username" type="button">Block</button></td>
                                                                        }
                                                                    }

                                                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <input type="text" id="username" name="username" hidden="hidden">
    </form>
</body>