﻿
@{
    ViewBag.Title = "Login";
}
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-color: crimson;
    }

    form {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .container {
        position: absolute;
        top: 30%;
        left: 35%;
        width: 30%;
        min-width: 30%;
        background-color: white;
        border-radius: 5px;
    }

    .validation-field {
        color: crimson;
    }

    #login {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
    }

    a {
        color: green;
    }

    #registerLink {
        text-align: center;
    }

    .message-fail-div {
        text-align: center;
        color: crimson;
    }


    .login-btn-div {
        text-align: center;
    }
    .message-fail-div {
        text-align: center;
    }
    .register-link-div{
        text-align: center;
    }

</style>
<script>
    $('document').ready(function () {

        $('#username').on('change', function () {
            var loginFailMessEl = document.getElementById("loginFailMessage");
            if (loginFailMessEl.innerText == "This username does not exist") {
                loginFailMessEl.hidden = true;
            }
            if (!EmptyInputCheck("username")) {
                return;
            }
            const regex = /^([A-Za-z0-9]+[\.\-\_]{0,1})+$/;
            if (!document.getElementById("username").value.match(regex)) {
                document.getElementById("username-val").innerText = "Invalid username";
                document.getElementById("username-val").hidden = false;
            } else {
                document.getElementById("username-val").hidden = true;
            }
        });
        $('#password').on('change', function () {
            var loginFailMessEl = document.getElementById("loginFailMessage");
            if (loginFailMessEl.innerText == "Incorrect password") {
                loginFailMessEl.hidden = true;
            }
            if (!EmptyInputCheck("password")) {
                return;
            }
            const regex = /^[A-Za-z0-9]{8,}$/;
            if (!document.getElementById("password").value.match(regex)) {
                document.getElementById("password-val").innerText = "Password minimum length is 8 alphanumeric characters";
                document.getElementById("password-val").hidden = false;
            } else {
                document.getElementById("password-val").hidden = true;
            }
        });

        $('#login').on("click", function () {
            var usernameInput = EmptyInputCheck("username");
            var passwordInput = EmptyInputCheck("password");
            var loginEnabled = usernameInput &&
                               passwordInput &&
                               document.getElementById("username-val").hidden &&
                               document.getElementById("password-val").hidden &&
                               document.getElementById("loginFailMessage").hidden;
            if (loginEnabled) {
                $.ajax({
                    url: "/Home/LogInRequest",
                    type: "POST",
                    data: {
                        'username': document.getElementById("username").value,
                        'password': document.getElementById("password").value,
                    },
                    success: function (result) {
                        if (result != "") {
                            document.getElementById("loginFailMessage").hidden = false;
                            document.getElementById("loginFailMessage").innerText = result;
                        } else {
                            document.getElementById("loginFailMessage").hidden = true;
                            document.getElementsByTagName('form')[0].submit();
                        }
                    }
                });
            }   
        });

        function EmptyInputCheck(inputID) {
            if (document.getElementById(inputID).value == "") {
                EmptyInputMessage(inputID);
                return false;
            }
            return true;
        }

        function EmptyInputMessage(inputID) {
            document.getElementById(inputID + "-val").innerText = "This field is required";
            document.getElementById(inputID + "-val").hidden = false;
        }
    });
</script>
<body>
    <div class="container">
        <form action="~/UnregisteredUser/LoginRequest" method="post">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" name="username">
                    <div hidden="hidden" class="validation-field" id="username-val">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="username">Password</label>
                    <input type="password" id="password" class="form-control" name="password">
                    <div hidden="hidden" class="validation-field" id="password-val">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 login-btn-div">
                    <button id="login" class="btn btn-success" type="submit">Login</button>
                </div>
            </div>
            <div class="row">
                @{
                    if (ViewBag.LogInFailMessage != "") { 
                        <div class="col-sm-12 message-fail-div" id="loginFailMessage">
                            @ViewBag.LogInFailMessage
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col-sm-12 register-link-div">
                    <a href="~/UnregisteredUser/Registration">Don't have an account? Register.</a>
                </div>
            </div>
        </form>
    </div>
</body>
