﻿
@{
    ViewBag.Title = "Registration";
}

<head>
    <link href="~/Content/Register.css" rel="stylesheet" />
    <script src="~/Scripts/Validator.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<script type="text/javascript">
    $('document').ready(function () {

        if ("@ViewBag.message" == "True") {
            alert("Registration failed.");
        }

        $('#username').on("change", function () {
            var input = document.getElementById("username").value;
            if (!ValUsername(input)) {
                return;
            }
            $.ajax({
                url: "/Home/UniqueUsername",
                type: "POST",
                data: { 'username': input },
                success: function (result) {
                    if (result == "False") {
                        document.getElementById("usernameVal").innerText = "Username is already taken.";
                    } else {
                        ButtonDisabled();
                    }
                }
            });
        });

       
    });
</script>
<script type="text/javascript">
    function ValName(input) {
        if ((document.getElementById("nameVal").innerText
            = Validator.ValidateNameOrSurname(input)) != "") {
            return;
        }
        ButtonDisabled();
    }
    function ValSurname(input) {
        if ((document.getElementById("surnameVal").innerText
            = Validator.ValidateNameOrSurname(input)) != "") {
            return;
        }
        ButtonDisabled();
    }

    function ValDate(input) {
        if ((document.getElementById("dateVal").innerText
            = Validator.ValidateDate(input)) != "") {
            return;
        }
        ButtonDisabled();
    }

    function ValEmail(input) {
        if ((document.getElementById("emailVal").innerText
            = Validator.ValidateEmail(input)) != "") {
            return;
        }
        ButtonDisabled();
    }

    function ValUsername(input) {
        if ((document.getElementById("usernameVal").innerText
            = Validator.ValidateUsername(input)) != "") {
            return false;
        }
        return true;
    }

    function ValPassword(input) {
        if ((document.getElementById("passwordVal").innerText
            = Validator.ValidatePassword(input)) != "") {
            return;
        }
        ButtonDisabled();
    }

    function ButtonDisabled() {
        var vals = document.getElementsByClassName("textValidation");
        var inputs = document.getElementsByClassName("textInput");
        for (var i = 0; i < vals.length; i++) {
            if (vals[i].innerText != "" || inputs[i].value == "") {
                document.getElementById("registerButton").disabled = true;
                return;
            }
        }
        document.getElementById("registerButton").disabled = false;
    }
</script>
<body>
    <div id="container">
        <form action="~/UnregisteredUser/RegistrationRequest">
            <input class="textInput" id="name" type="text" name="name" value="" placeholder="Name" onchange="ValName(value)" />
            <label class="textValidation" id="nameVal"></label>
            <input class="textInput" type="text" name="surname" value="" placeholder="Surname" onchange="ValSurname(value)" />
            <label class="textValidation" id="surnameVal"></label>
            <input class="textInput" type="text" name="date" value="" placeholder="Date" onchange="ValDate(value)" />
            <label class="textValidation" id="dateVal"></label>
            <input class="textInput" type="text" name="email" value="" placeholder="Email" onchange="ValEmail(value)" />
            <label class="textValidation" id="emailVal"></label>
            <input class="textInput" id="username" type="text" name="username" value="" placeholder="Username" />
            <label class="textValidation" id="usernameVal"></label>
            <input class="textInput" type="password" name="password" value="" placeholder="Password" onchange="ValPassword(value)" />
            <label class="textValidation" id="passwordVal"></label>
            <input id="registerButton" type="submit" name="register" value="Register" disabled="disabled" />
            <select name="gender">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
        </form>
    </div>
    <a href="~/UnregisteredUser/Login">Already have an account? Log in.</a>
</body>
