﻿body {
    background-color: crimson;
}

.container {
    background-color: white;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

button {
    margin-top: 15px;
    width: 150px;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: black;
    color: white;
}

#sort {
    width: 135px;
    background-color: black;
    color: white;
}

#sort-select-div {
    margin-bottom: 0px;
}

#sort-submit {
    margin-bottom: 0px;
    text-align: right;
}

thead {
    text-align: center;
    background-color: black;
    color: white;
}

td {
    text-align: center;
    vertical-align: middle;
}

tr:hover td {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

input[type=checkbox] {
    width: auto;
}

.search-item{
    margin-bottom: 0px;
}

.search-group {
    position: relative;
    margin-bottom: 0px;
}

.accommodation-unit-search {
    margin-bottom: 0px;
}

#search {
    position: absolute;
    width: 135px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    bottom: 0px;
    right: 15px;
}

#edit-btn {
    background-color: black;
    color: white;
    width: 100%;
}

#delete-btn {
    background-color: black;
    color: white;
    width: 100%;
}

.btn-container {
    width: 200px;
}

#edit-div {
    text-align: center;
}

#delete-div {
    text-align: center;
}
