﻿body {
}

.container {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

button {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: black;
    color: white;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="checkbox"]{
    width: auto;
}
  