﻿body {
}
th {
    text-align: center;
}

td {
    text-align: center;
}

tr:hover td {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

#id {
    display: none;
}

thead{
    background-color: black;
    color: white;
}

.yes-no{
    margin-bottom: 0px;
}


