﻿body {
}

input[type=checkbox]{
    width: auto;
}

label{
    font-weight: bold;
}

#search {
    background-color: black;
    color: white;
    width: 135px;
}

.search-group{
    text-align: right;
}