﻿body {
}

.container {
    background-color: white;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#table-group {
    flex: 0 0 100%;
    max-width: 100%;
}

thead {
    background-color: black;
    color: white;
}

th {
    text-align: center;
    vertical-align: middle !important;
}

td {
    text-align: center;
    vertical-align: middle !important;
}

.clickable-row:hover td {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.clickable-row:hover th {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.info-col {
    text-align: right;
}

.data-col {
    text-align: left;
}

#search {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 150px;
    position: absolute;
    bottom: 0;
}

button#sort {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 150px;
}

.search-div{
    position: relative;
}




