﻿body {
}

.container {
    background-color: white;
    padding: 15px 15px 15px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#id {
    display: none;
}

thead {
    background-color: black;
    color: white;
}

th {
    text-align: center;
    vertical-align: middle !important;
}

td {
    text-align: center;
    vertical-align: middle !important;
}

.clickable-row:hover td {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.clickable-row:hover th {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.poster {
    width: 140px;
    height: 140px;
}
