﻿body {
}

.control-row{
    height: 68px;
}

.bold-label{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 0px;
}

.left-form-group{
    margin-bottom: 0px;
}

.right-form-group {
    margin-bottom: 0px;
}

.content-group {
    margin-top: 3px;
    margin-bottom: 3px;
}

input{
    height: 38px;
}

#search-label{
    color: white;
}

.empty-search-div{
    height: 24px;
}

.search-group{
    text-align: right;
}

input[type=submit]{
    background-color: black;
    color: white;
    width: 135px;
}