﻿body {
}

.control-row {
    height: 68px;
}

.bold-label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 0px;
}

.left-form-group {
    margin-bottom: 0px;
}

.right-form-group {
    margin-bottom: 0px;
}

.content-group {
    margin-top: 3px;
    margin-bottom: 3px;
}

input {
    height: 38px;
}

#search-label {
    color: white;
}

.empty-search-div {
    height: 24px;
}

.search-group {
    text-align: right;
}

input[type=submit] {
    background-color: black;
    color: white;
    width: 135px;
}

.container {
    background-color: white;
    padding: 15px 15px 15px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#id {
    display: none;
}

thead {
    background-color: black;
    color: white;
}

th {
    text-align: center;
    vertical-align: middle !important;
}

td {
    text-align: center;
    vertical-align: middle !important;
}

.clickable-row:hover td {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.clickable-row:hover th {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.poster {
    width: 140px;
    height: 140px;
}

#sort-submit {
    text-align: right;
    margin-bottom: 0px;
}

#sort-select-div{
    margin-bottom: 0px;
}