﻿body {
    background: url("../Images/airplane1.jpg") rgba(220, 20, 60, 0.9);
    background-size: cover;
    background-blend-mode: multiply;
    margin-bottom: 15px;
}

.container-fluid {
    background-color: white;
}

#dropdownMenu2 {
    width: 270px;
}

#MyCustomNavBar{
    background-color: white;
    padding: 0px 0px;
}

li {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

#company-logo {
    height: 54px;
}

.navbar-btn {
    background-color: black;
    color: white;
}

#login-btn{
    width: 130px;
}

#register-btn {
    width: 130px;
}

#logout{
    background-color: black;
    color: white;
}
