﻿body {
    background-color: crimson;
}

#container {
    width: 25%;
    height: 35%;
    top: 30%;
    left: 37.5%;
    background-color:whitesmoke;
    position: relative;
    border-radius: 15px;
    border: 1px solid black;
}

.textInput {
    display: block;
    position: absolute;
    width: 90%;
    height: 15%;
    border-radius: 15px;
    left: 5%;
    font-size: 22px;
}

.textInput::placeholder {
    text-align: left;
}


.textInput#username {
    top: 15%;
}

.textInput#password {
    top: 40%;
}

#logInButton {
    display: block;
    position: absolute;
    height: 19.5%;
    width: 60%;
    border-radius: 30px;
    bottom: 12.5%;
    left: 20%;
    font-size: 26px;
    background-color: darkgreen;
    color: whitesmoke;
}

.textValidation {
    display: block;
    position: absolute;
    left: 8%;
    height: 10%;
    color: crimson;
}
.textValidation#usernameVal
{
    top: 32.5%;
}

.textValidation#passwordVal {
    top: 57.5%;
}

a{
    position: absolute;
    color: whitesmoke;
    top: 66.5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
}
