﻿body {
    background-color: crimson;
}

.container {
    background-color: white;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#poster-img {
    height: 100%;
    width: 100%;
}

.img-btn-row {
    justify-content: center;
}

img {
    width: 150px;
    height: 150px;
}

#map {
    height: 400px;
}

.img-container {
    width: 150px;
    height: 200px;
}

.disableMap {
    pointer-events: none;
}

.map_data {
    margin-top: 15px;
}

button {
    margin-top: 15px;
    width: 150px;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: black;
    color: white;
}

textarea[disabled] {
    resize: none;
}

#sort {
    width: 135px;
    background-color: black;
    color: white;
}

#sort-select-div {
    margin-bottom: 0px;
}

#sort-submit {
    margin-bottom: 0px;
    text-align: right;
}

thead {
    text-align: center;
    background-color: black;
    color: white;
}

td {
    text-align: center;
    vertical-align: middle;
}

tr:hover td {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

input[type=checkbox] {
    width: auto;
}

.search-group {
    text-align: right;
}

.accommodation-search {
    margin-bottom: 0px;
}

#search {
    width: 135px;
    background-color: black;
    color: white;
}

#edit {
    width: 135px;
    background-color: black;
    color: white;
}

#delete {
    width: 135px;
    background-color: black;
    color: white;
}

