﻿body{

}

#mp-form{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
}

.container {
    min-height: 50%;
    background-color: white;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto auto auto auto;
    min-width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.validation-field{
    color: crimson;
}

.btn{
    width: 135px;
}

#edit{
    background-color: black;
    color: white;
}

.edit-div{
    text-align: left;
}

.save-div{
    text-align: right;
}

.cancel-div{
    text-align: right;
}




