﻿body {
    
}

.body{
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    position: absolute;
    top: 20%;
    left: 25%;
    width: auto;
    height: auto;
    min-width: 50%;
    min-height: 40%;
    background-color: white;
    border-radius: 5px;
}

.validation-field {
    color: crimson;
}

.create-div {
    position: relative;
}

#create {
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 15px;
    background-color: black;
    color: white;
}