﻿body {
    background-color: crimson;
}

#container {
    width: 25%;
    height: 80%;
    top: 7.5%;
    left: 37.5%;
    background-color: whitesmoke;
    position: relative;
    border-radius: 15px;
    border: 1px solid black;
}

.textInput {
    display: block;
    width: 90%;
    height: 6%;
    border-radius: 15px;
    font-size: 22px;
    margin-left: 5%;
}

.textInput::placeholder {
    text-align: left;
}

.textInput#name {
    margin-top: 8.5%;
}

.textValidation {
    display: block;
    height: 5.5%;
    color: crimson;
    margin-left: 8%;
}

#registerButton {
    display: block;
    position: absolute;
    height: 10%;
    width: 60%;
    border-radius: 30px;
    bottom: 5%;
    left: 20%;
    font-size: 26px;
    background-color: darkgreen;
    color: whitesmoke;
}

a {
    position: absolute;
    color: whitesmoke;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
}

select {
    border-radius: 30px;
    width: 90%;
    height: 6%;
    font-size: 22px;
    margin-left: 5%;
}


