﻿body {
}

.container{
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

th {
    text-align: center;
    background-color: black;
    color: white;
}

tr:hover td {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

td {
    text-align: center;
}

input[type=submit]{
    width: 135px;
}

.search-div{
    position: relative;
}

.sort-div{
    position: relative;
}

#search {
    position: absolute;
    bottom: 0px;
    right: 15px;
}

#sort {
    position: absolute;
    bottom: 0px;
    right: 15px;
}