﻿
@{
    ViewBag.Title = "ManagerNavBar";
}
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="~/Content/HomeNavBar.css" rel="stylesheet" />
</head>
<body>
    <style>
        body {
            background-color: crimson;
        }
    </style>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="~/Manager/Home"><img id="company-logo" src="~/Images/travel-logo.png" alt="company-logo" /></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav topnav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Manager/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Manager/MyProfile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Manager/MyArrangements">My Arrangements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Manager/NewArrangement">New Arrangement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Manager/Reservations">Reservations</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a class="nav-link btn text-white" id="logout" type="button" href="~/UnregisteredUser/Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    @RenderBody()

</body>


