﻿@model Web1App.ViewModels.AccommodationViewModel
@{
    ViewBag.Title = "Accommodation";
    Layout = "~/Views/Shared/Tourist/NavBar.cshtml";
}
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <link href="~/Content/Accommodation.css" rel="stylesheet" />
</head>
<body>
    <form action="~/Tourist/SearchSortAccommodationUnits" method="post">
        <div class="container" id="accommodation">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" id="arrangement_id" name="arrangement_id" hidden="hidden" value="@Model.ArrangementId" />
                    <input type="text" id="accommodation_id" name="accommodation_id" hidden="hidden" value="@Model.Accommodation.ID" />
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="acc_type">Type</label>
                            @Html.DropDownList("acc_type", (List<SelectListItem>)Model.Accommodation.BindAccommodationType(), new { @class = "form-control", @disabled = "disabled" })
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="acc_name">Name</label>
                            <input class="form-control" id="accommodation_name" name="accommodation_name" type="text" placeholder="Enter text..." value="@Model.Accommodation.Name" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label for="pool">Pool</label>
                            <input class="form-control" id="pool" name="pool" type="checkbox" checked="@Model.Accommodation.Pool" disabled />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="spa">Spa</label>
                            <input class="form-control" id="spa" name="spa" type="checkbox" checked="@Model.Accommodation.Spa" disabled />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="pwd">Adapted for PWDs</label>
                            <input class="form-control" id="pwd" name="pwd" type="checkbox" checked="@Model.Accommodation.AdaptedForDisabledPeople" disabled />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="wifi">WiFi</label>
                            <input class="form-control" id="wifi" name="wifi" type="checkbox" checked="@Model.Accommodation.WiFi" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="accommodationUnitsSearch">
            <div class="row">
                <div class="col-sm-2 form-group search-item">
                    <label for="minNumOfGuests">Guests(min.)</label>
                    <input class="form-control" id="minNumOfGuests" name="minNumOfGuests" type="number" min="0" value="@Model.AccommodationUnitsSearch.MinNumberOfGuests" />
                </div>
                <div class="col-sm-2 form-group search-item">
                    <label for="maxNumOfGuests">Guests(max.)</label>
                    <input class="form-control" id="maxNumOfGuests" name="maxNumOfGuests" type="number" min="0" value="@Model.AccommodationUnitsSearch.MaxNumberOfGuests" />
                </div>
                <div class="col-sm-2 form-group search-item">
                    <label for="pets">Pet free</label>
                    <input class="form-control" id="pets" type="checkbox" name="pets" checked="@Model.AccommodationUnitsSearch.PetFree" />
                </div>
                <div class="col-sm-2 form-group search-item">
                    <label for="minprice">Min. price</label>
                    <input class="form-control" id="minprice" name="minprice" type="number" min="0" value="@Model.AccommodationUnitsSearch.MinPrice" />
                </div>
                <div class="col-sm-2 form-group search-item">
                    <label for="maxprice">Max. price</label>
                    <input class="form-control" id="maxprice" name="maxprice" type="number" min="0" value="@Model.AccommodationUnitsSearch.MaxPrice" />
                </div>
                <div class="col-sm-2 form-group search-group">
                    <button class="btn" type="submit" id="search" name="search" value="Search">Search</button>
                </div>
            </div>
        </div>
        <div class="container" id="_accommodationUnitsSort">
            <div class="row">
                <div class="col-sm-10" id="sort-select-div">
                    @Html.DropDownList("accommodationUnitsSort", (List<SelectListItem>)Model.AccommodationUnitsSort.BindAccommodationUnitsSort(), new { @class = "form-control" })
                </div>
                <div class="col-sm-2" id="sort-submit">
                    <input type="submit" name="sort" id="sort" class="btn form-control" value="Sort">
                </div>
            </div>

        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            InitDataTable();
        });

        function InitDataTable() {
            $('#unitsTable').DataTable({
                "pagingType": "first_last_numbers",
                "pageLength": 5,
                "lengthMenu": [[5], [5]],
                "bSort": false,
                "language": {
                    "lengthMenu": "Show _MENU_  accommodation units",
                    "info": "Showing _START_ to _END_ of _TOTAL_ accommodation units",
                    "infoEmpty": "Showing 0 to 0 of 0 accommodation units",
                },
                "orderCellsTop": true,
                "fixedHeader": true,
            });
            $('.dataTables_length').addClass('bs-select');
        }

    </script>
    <div class="container" id="accommodationUnits">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive" id="tableResults">
                    <table class="table" id="unitsTable">
                        <thead>
                            <tr class="clickable-row">
                                <th scope="col">Name</th>
                                <th scope="col">Max. number of guests</th>
                                <th scope="col">Pets</th>
                                <th scope="col">Free</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var a in Model.Accommodation.Units)
                                {
                                    <tr class="clickable-row" id="@a.ID">
                                        <td>@a.Name</td>
                                        <td>@a.MaxNumOfGuests</td>
                                        <td><input type="checkbox" disabled checked="@a.Pets" /></td>
                                        <td><input type="checkbox" disabled checked="@a.Free" /></td>
                                        <td>@a.Price</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <form id="form_select_accommodation_unit" action="~/Tourist/SelectAccommodationUnit" method="post" hidden="hidden">
                        <input type="text" id="arrangement_id" name="arrangement_id" value="@Model.ArrangementId" />
                        <input type="text" id="accommodation_id" name="accommodation_id" value="@Model.Accommodation.ID" />
                        <input type="text" id="accommodation_unit_id" name="accommodation_unit_id" />
                    </form>
                    <script type="text/javascript">
                        $(document).on("click", ".clickable-row", function () {
                            document.getElementById('accommodation_unit_id').value = this.id;
                            $('#form_select_accommodation_unit').submit();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>