﻿
@{
    ViewBag.Title = "AccommodationUnit";
    Layout = "~/Views/Shared/Tourist/NavBar.cshtml";
}
@model Web1App.ViewModels.AccommodationUnitViewModel
<head>
    <link href="~/Content/AccommodationUnit.css" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            if ("@ViewBag.popup" != "") {
                alert("@ViewBag.popup");
            }
        });
    </script>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 form-group"> 
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name" disabled="disabled" value="@Model.AccommodationUnit.Name" />
            </div>
            <div class="col-sm-2 form-group">
                <label for="maxNum">Guests (max.)</label>
                <input class="form-control" type="number" name="maxNum" id="maxNum" disabled="disabled" value="@Model.AccommodationUnit.MaxNumOfGuests" />
            </div>
            <div class="col-sm-2 form-group">
                <label for="pets">Pets</label>
                <input class="form-control" type="checkbox" name="pets" id="pets" disabled="disabled" checked="@Model.AccommodationUnit.Pets" />
            </div>
            <div class="col-sm-3 form-group">
                <label for="price">Price</label>
                <input class="form-control" type="number" name="price" id="price" disabled="disabled" value="@Model.AccommodationUnit.Price" />
            </div>
            <div class="col-sm-2 form-group">
                <label for="price">Free</label>
                @{
                    if (Model.AccommodationUnit.Free)
                    {
                        <form action="~/Tourist/MakeReservation" method="post">
                            <input type="text" value="@Model.ArrangementId" name="arrangement_id" hidden="hidden" />
                            <input type="text" value="@Model.AccommodationId" name="accommodation_id" hidden="hidden" />
                            <input type="text" value="@Model.AccommodationUnit.ID" name="accommodation_unit_id" hidden="hidden" />
                            <input type="submit" class="btn btn-success" id="reserve" value="Reserve" />
                        </form>
                    }
                    else
                    {
                        <input class="form-control" type="checkbox" disabled />
                    }
                }
            </div>
        </div>
    </div>
</body>


