﻿@model Web1App.ViewModels.ReservationsViewModel
@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/Tourist/NavBar.cshtml";
}

<head>
    <link href="~/Content/Reservations.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>
<body>
    <form action="~/Tourist/SearchSortReservations" method="post">
        <div class="container" id="searchRes">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="username">Tourist username</label>
                    <input type="text" class="form-control" id="username" name="username" value="@Model.ReservationSearch.TouristUsername" />
                </div>
                <div class="col-sm-6 form-group">
                    <label for="status">Status</label>
                    @Html.DropDownList("status", (List<SelectListItem>)Model.ReservationSearch.BindStatus(), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 ">
                    <label for="arrangement">Arrangement name</label>
                    <input type="text" class="form-control" id="arrangement" name="arrangement" value="@Model.ReservationSearch.ArrangementName" />
                </div>
                <div class="col-sm-3">
                    <label for="accommodation">Accommodation name</label>
                    <input type="text" class="form-control" id="accommodation" name="accommodation" value="@Model.ReservationSearch.AccommodationName" />
                </div>
                <div class="col-sm-3">
                    <label for="accommodation_unit">Accommodation unit name</label>
                    <input type="text" class="form-control" id="accommodation_unit" name="accommodation_unit" value="@Model.ReservationSearch.AccommodationUnitName" />
                </div>
                <div class="col-sm-3 search-div">
                    <input type="submit" class="btn btn-success" id="search" name="search" value="Search" />
                </div>
            </div>
        </div>
        <div class="container" id="sortRes">
            <div class="row">
                <div class="col-sm-9">
                    @Html.DropDownList("reservation_sort", (List<SelectListItem>)Model.ReservationSort.BindReservationSort(), new { @class = "form-control" })
                </div>
                <div class="col-sm-3 sort-div">
                    <input type="submit" class="btn btn-success" id="sort" name="sort" value="Sort" />
                </div>
            </div>
        </div>
        <div class="container" id="res">
            <div class="row" id="reservations">
                <div class="col-sm-12">
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#reservationsTable').DataTable({
                                "pagingType": "first_last_numbers",
                                "pageLength": 5,
                                "lengthMenu": [[5], [5]],
                                "bSort": false,
                                "language": {
                                    "lengthMenu": "Show _MENU_  reservations",
                                    "info": "Showing _START_ to _END_ of _TOTAL_ reservations",
                                    "infoEmpty": "Showing 0 to 0 of 0 reservations",
                                }
                            });
                            $('.dataTables_length').addClass('bs-select');
                        });
                    </script>
                    <script type="text/javascript">
                        $(document).on("click", ".cancel-btn", function () {
                            document.getElementById("reservation_id").value = this.id;
                            document.getElementById("form_cancel").submit();
                        });
                    </script>
                    <div class="table-responsive" id="tableResults">
                        <table class="table" id="reservationsTable">
                            <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Arrangement</th>
                                    <th scope="col">Start date</th>
                                    <th scope="col">Accommodation</th>
                                    <th scope="col">Accommodation unit</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Cancel</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var a in Model.Reservations)
                                    {
                                        <tr class="clickable-row">
                                            <td>@a.TouristID</td>
                                            <td>@a._ReservationStatus.ToString()</td>
                                            <td>@a.GetArrangement().Name</td>
                                            <td>@a.GetArrangement().StartDate</td>
                                            <td>@a.GetAccommodation().Name</td>
                                            <td>@a.GetAccommodationUnit().Name</td>
                                            <td>@a.GetAccommodationUnit().Price.ToString()</td>
                                            @{
                                                if (a._ReservationStatus == Web1App.Models.ReservationStatus.INACTIVE)
                                                {
                                                    <td>Canceled</td>
                                                }
                                                else
                                                {
                                                    <td><button type="button" class="btn btn-danger cancel-btn" id="@a.ID" name="cancel">Cancel</button></td>
                                                }
                                            }

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="form_cancel" action="~/Tourist/CancelReservation" method="post" hidden>
        <input type="text" name="reservation_id" id="reservation_id"/>
    </form>
</body>

