﻿@model Web1App.ViewModels.HomeArrangementsViewModel
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="~/Content/HomeNavBar.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" id="myCustomNavbar">
            <div class="collapse navbar-collapse navbarSupportedContent">
                <ul class="navbar-nav mr-auto top-nav">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn navbar-btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Model.Title
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item" type="button" href="~/Admin/Home">Future Arrangements</a>
                                <a class="dropdown-item" type="button" href="~/Admin/PastAndCurrentArrangements">Past And Current Arrangements</a>
                                <a class="dropdown-item" type="button" href="~/Admin/AllArrangements">All Arrangements</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="~/Admin/Home"><img id="company-logo" src="~/Images/travel-logo.png" alt="company-logo" /></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav topnav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/MyProfile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/NewManager">New Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/AllUsers">All Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/Tourists">Tourists</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a class="nav-link btn text-white" id="logout" type="button" href="~/UnregisteredUser/Logout">Logout</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    @RenderBody()
</body>



