﻿
@{
    ViewBag.Title = "TouristNavBar";
}
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <style>
        body{
            background-color: crimson;
        }
    </style>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">TRAVEL AGENCY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav topnav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Tourist/Reservations">Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Tourist/MyProfile">My Profile</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a class="nav-link btn btn-danger text-white" type="button" href="~/UnregisteredUser/Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    @RenderBody()

</body>
