﻿<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="~/Content/HomeNavBar.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" id="myCustomNavbar">
            <a href="~/UnregisteredUser/Index"><img id="company-logo" src="~/Images/travel-logo.png" alt="company-logo" /></a>
            <div class="collapse navbar-collapse navbarSupportedContent">
                <ul class="navbar-nav ml-auto bottom-nav">
                    <li class="nav-item">
                        <a class="nav-link btn navbar-btn text-white" id="login-btn" type="button" href="~/UnregisteredUser/LogIn">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn navbar-btn text-white" id="register-btn" type="button" href="~/UnregisteredUser/Registration">Register</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    @RenderBody()
</body>