﻿@model Web1App.Models.AccommodationUnit
@{
    ViewBag.Title = "AccommodationUnit";
    Layout = "~/Views/Shared/Manager/NavBar.cshtml";
}

<head>
</head>
<style>

    .container {
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: white;
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #create {
        margin-top: 15px;
        width: 100px;
        border-radius: 5px;
    }

    .validation-field {
        color: crimson;
    }

    .edit-div{
        text-align: left;
    }

    .save-div {
        text-align: right;
    }

</style>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            if ("@ViewBag.message" == "True") {
                alert("@ViewBag.messageText");
            }

            $('#delete-btn').on('click', function () {
                document.getElementById("dialog").open;
                document.getElementById("dialog").show();
            });

            $('#cancel').on('click', function () {
                document.getElementById("dialog").close();
            });
        });
    </script>
        @{
            if (ViewBag.edit)
            {
            <form id="edit-delete-form" action="~/Manager/EditDeleteAccommodationUnit" method="post">
                <input type="text" name="accommodation_unit_id" value="@Model.ID" hidden />
                <input type="text" name="arrangement_id" value="@ViewBag.arrangement_id" hidden />
                <input type="text" name="accommodation_id" value="@ViewBag.accommodation_id" hidden />
                <div class="container btn-container">
                    <div class="row">
                        <div class="col-sm-6" id="edit-div">
                            <input type="submit" class="btn" id="edit-btn" name="edit" value="Edit" />
                        </div>
                        <div class="col-sm-6" id="delete-div">
                            <input type="submit" class="btn" id="delete-btn" name="delete" value="Delete" />
                            <style>
                                #dialog {
                                    width: 400px;
                                    height: 150px;
                                    z-index: 1;
                                }
                            </style>
                            <dialog id="dialog">
                                <p>Are you sure you want to delete this accommodation unit?</p>
                                <button type="button" class="btn btn-danger" id="delete">Delete</button>
                                <button type="button" class="btn btn-info" id="cancel">Cancel</button>
                            </dialog>
                        </div>
                    </div>
                </div>
            </form>
            }
        }
        <div class="container">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" disabled value="@Model.Name" />
                    <div class="validation-field" id="name-val" hidden="hidden">
                        Invalid input
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="maxNum">Maximal number of guests</label>
                    <input class="form-control" type="number" name="maxNum" id="maxNum" disabled value="@Model.MaxNumOfGuests" />
                    <div class="validation-field" id="maxNum-val" hidden="hidden">
                        Invalid input
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 form-group">
                    <label for="pets">Pets</label>
                    <input class="form-control" type="checkbox" name="pets" id="pets" disabled checked="@Model.Pets" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="price" id="price" disabled value="@Model.Price" />
                    <div class="validation-field" id="price-val" hidden="hidden">
                        This field is required
                    </div>
                </div>
            </div>
        </div>
</body>
