﻿@model Web1App.Models.Accommodation
@{
    ViewBag.Title = "Accommodation";
    Layout = "~/Views/Shared/Manager/NavBar.cshtml";
}

<style>
    .container {
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: white;
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #edit {
        margin-top: 15px;
        width: 100px;
        border-radius: 5px;
    }

    .save {
        text-align: right;
    }

    #delete {
        width: 100px;
        border-radius: 5px;
        padding-left: 12px;
    }

    #add {
        width: 100px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #show {
        margin-bottom: 15px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $('#name').on('change', function () {
            const regex = /^([A-Za-z0-9 /-])+$/
            if (!document.getElementById('name').value.match(regex)) {
                if (document.getElementById('name').value == "") {
                    document.getElementById('val-name').innerText = "This field is required";
                } else {
                    document.getElementById('val-name').innerText = "Invalid name";
                }
                document.getElementById('val-name').hidden = false;
                document.getElementById('save').disabled = true;
            } else {
                document.getElementById('val-name').hidden = true;
                document.getElementById('save').disabled = false;
            }
        });
        $('#pool').on('change', function () {
            var el = document.getElementById('pool');
            if (el.checked) {
                el.value = "true";
            } else {
                el.value = "false";
            }
        });
        $('#spa').on('change', function () {
            var el = document.getElementById('spa');
            if (el.checked) {
                el.value = "true";
            } else {
                el.value = "false";
            }
        });
        $('#pwd').on('change', function () {
            var el = document.getElementById('pwd');
            if (el.checked) {
                el.value = "true";
            } else {
                el.value = "false";
            }
        });
        $('#wifi').on('change', function () {
            var el = document.getElementById('wifi');
            if (el.checked) {
                el.value = "true";
            } else {
                el.value = "false";
            }
        });

        function HideValFields() {
            var hideFields = document.getElementsByClassName("validation-field");
            for (var i = 0; i < hideFields.length; i++) {
                hideFields[i].hidden = true;
            }
        }
    });
</script>
<body>
    <style>
        #save-cancel-container {
            width: 200px;
        }

        #save {
            width: 100%;
        }

        #cancel {
            width: 100%;
        }

        .validation-field {
            color: crimson;
        }
    </style>
    <form action="~/Manager/UpdateAccommodation" method="post">
        <div class="container" id="save-cancel-container">
            <div class="row">
                <div class="col-sm-6">
                    <input type="submit" class="btn btn-success" id="save" name="save" value="Save">
                </div>
                <div class="col-sm-6">
                    <input type="submit" class="btn btn-warning" id="cancel" name="cancel" value="Cancel">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="acc_type">Type</label>
                    @Html.DropDownList("acc_type", (List<SelectListItem>)Model.BindAccommodationType(), new { @class = "form-control" })
                </div>
                <div class="col-sm-6 form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" type="text" name="name" value="@Model.Name" />
                    <div class="validation" id="val-name" hidden="hidden">
                        Validation text
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 form-group cb">
                    <label for="pool">Pool</label>
                    <input class="form-control" id="pool" type="checkbox" name="pool" value="false" checked="@Model.Pool" />
                </div>
                <div class="col-sm-3 form-group cb">
                    <label for="spa">Spa</label>
                    <input class="form-control" id="spa" type="checkbox" name="spa" value="false" checked="@Model.Spa" />
                </div>
                <div class="col-sm-3 form-group cb">
                    <label for="pwd">Adapted for PWD</label>
                    <input class="form-control" id="pwd" type="checkbox" name="pwd" value="false" checked="@Model.AdaptedForDisabledPeople" />
                </div>
                <div class="col-sm-3 form-group cb">
                    <label for="wifi">WiFi</label>
                    <input class="form-control" id="wifi" type="checkbox" name="wifi" value="false" checked="@Model.WiFi" />
                </div>
                <style>
                    .cb {
                        text-align: center;
                    }
                </style>
            </div>
        </div>
        <input type="text" name="accommodation_id" value="@Model.ID" hidden />
        <input type="text" name="arrangement_id" value="@ViewBag.arrangement_id" hidden />
    </form>
</body>





