﻿@model Web1App.Models.AccommodationUnit
@{
    ViewBag.Title = "AccommodationUnit";
    Layout = "~/Views/Shared/Manager/NavBar.cshtml";
}

<head>
</head>
<style>

    .container {
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: white;
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #create {
        margin-top: 15px;
        width: 100px;
        border-radius: 5px;
    }

    .validation-field {
        color: crimson;
    }

    .edit-div {
        text-align: left;
    }

    .save-div {
        text-align: right;
    }
</style>
<body>
    <script type="text/javascript">
        $(document).ready(function () {

            var name = document.getElementById('name').value;
            var maxNum = document.getElementById('maxNum').value;
            var pets = document.getElementById('pets').checked;
            var price = document.getElementById('price').value;
            var maxNumDisabled = '@ViewBag.maxNumDisabled' == 'True';
            document.getElementById('delete').disabled = maxNumDisabled;
            if (maxNumDisabled) {
                document.getElementById('delete').hidden = true;
            }

            $('#maxNum').on('change', function () {
                var number = document.getElementById('maxNum').value.toString();
                const regex = /^[1-9]{1}[0-9]*$/;
                if (!number.match(regex)) {
                    document.getElementById("maxNum-val").hidden = false;
                } else {
                    document.getElementById("maxNum-val").hidden = true;
                }
                CheckButtonDisabled();
            });
            $('#price').on('change', function () {
                var number = document.getElementById('price').value.toString();
                if (number == "") {
                    document.getElementById("price-val").hidden = false;
                } else {
                    document.getElementById("price-val").hidden = true;
                }
                CheckButtonDisabled();
            });

            $('#name').on('change', function () {
                const regex = /^[a-zA-Z0-9 ]+$/;
                var name = document.getElementById('name').value.toString();
                var valEl = document.getElementById("name-val");
                if (!name.match(regex)) {
                    valEl.hidden = false;
                    if (name == "") {
                        valEl.innerText = "This field is required"
                    } else {
                        valEl.innerText = "Only alphanumeric characters are allowed"
                    }
                } else {
                    valEl.hidden = true;
                }
                CheckButtonDisabled();
            });

            function CheckButtonDisabled() {
                if (document.getElementById('maxNum').value.toString() != "" &&
                    document.getElementById('maxNum-val').hidden &&
                    document.getElementById('price').value.toString() != "" &&
                    document.getElementById('price-val').hidden &&
                    document.getElementById('name').value.toString() != "" &&
                    document.getElementById('name-val').hidden) {
                    document.getElementById('save').disabled = false;
                    return;
                }
                document.getElementById('save').disabled = true;
            }

            $('#edit').on('click', function () {
                DisableFields(false);
                document.getElementById('edit').hidden = true;
                if (!maxNumDisabled) {
                    document.getElementById('delete').hidden = true;
                }
                document.getElementById('save').hidden = false;
                document.getElementById('cancel').hidden = false;
            });

            $('#save').on('click', function () {
                maxNumDisabled = false;
                DisableFields(false);
            });

            $('#delete').on('click', function () {
                $('#form1').submit();
            });

            $('#cancel').on('click', function () {
                RestoreValues();
                DisableFields(true);
                HideValFields();
                document.getElementById('edit').hidden = false;
                if (!maxNumDisabled) {
                    document.getElementById('delete').hidden = false;
                }
                document.getElementById('save').hidden = true;
                document.getElementById('cancel').hidden = true;
            });

            function RestoreValues() {
                document.getElementById('name').value = name;
                document.getElementById('pets').checked = pets;
                document.getElementById('maxNum').value = maxNum;
                document.getElementById('price').value = price;
            }

            function DisableFields(disable) {
                document.getElementById('name').disabled = disable;
                document.getElementById('pets').disabled = disable;
                document.getElementById('maxNum').disabled = disable || maxNumDisabled;
                document.getElementById('price').disabled = disable;
            }

            function HideValFields() {
                var hideFields = document.getElementsByClassName("validation-field");
                for (var i = 0; i < hideFields.length; i++) {
                    hideFields[i].hidden = true;
                }
            }
        });
    </script>
    <div class="container">
        <form action="~/Manager/EditDeleteAccommodationUnit" method="post">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" disabled="disabled" value="@Model.Name" />
                    <div class="validation-field" id="name-val" hidden="hidden">
                        Invalid input
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="maxNum">Maximal number of guests</label>
                    <input class="form-control" type="number" name="maxNum" id="maxNum" disabled="disabled" value="@Model.MaxNumOfGuests" />
                    <div class="validation-field" id="maxNum-val" hidden="hidden">
                        Invalid input
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 form-group">
                    <label for="pets">Pets</label>
                    <input class="form-control" type="checkbox" name="pets" id="pets" disabled="disabled" checked="@Model.Pets" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="price" id="price" disabled="disabled" value="@Model.Price" />
                    <div class="validation-field" id="price-val" hidden="hidden">
                        This field is required
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
