﻿@model Web1App.Models.Arrangement

@{
    ViewBag.Title = "Arrangement";
    Layout = "~/Views/Shared/Manager/NavBar.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <link href="~/Content/ManagerArrangement.css" rel="stylesheet" />
</head>
<script type="text/javascript">
    $('document').ready(function () {
        // img src
        var oldImgSrc = document.getElementById("poster-img").src;

        SetMinStartDate();

        // init map global values

        var pointCoordinates = [@Model._PlaceOfDeparture.Longitude, @Model._PlaceOfDeparture.Latitude];
        var view = new ol.View({
            projection: 'EPSG:4326',
            center: pointCoordinates,
            zoom: 6,
            minZoom: 3,
            maxZoom: 17,
        });
        var OSMBaseMap = new ol.layer.Tile({
            source: new ol.source.OSM({
                wrapX: false
            })
        });
        var layerArray = [OSMBaseMap];
        var map = new ol.Map({
            target: 'map',
        layers: layerArray,
        view: view
        });
        var drawSource = new ol.source.Vector();
        var drawLayer = new ol.layer.Vector({
                source: drawSource
            });
        map.addLayer(drawLayer);
        var newPOD = null;

        drawPoint(pointCoordinates);

        $('#name').on('change', function () {
            const regex = /^[A-Za-z\s]+$/;
            if (!document.getElementById("name").value.match(regex)) {
                if (document.getElementById("name").value == "") {
                    document.getElementById("name-val").innerText = "This field is required";
                } else {
                    document.getElementById("name-val").innerText = "Name can contain only letters and spaces";
                }
                document.getElementById("name-val").hidden = false;
                document.getElementById("save").disabled = true;
            } else {
                document.getElementById("name-val").hidden = this.name = true;
                document.getElementById("save").disabled = false;
            }
        });
        $('#location').on('change', function () {
            const regex = /^[A-Za-z\s]+$/;
            if (!document.getElementById("location").value.match(regex)) {
                if (document.getElementById("location").value == "") {
                    document.getElementById("location-val").innerText = "This field is required";
                } else {
                    document.getElementById("location-val").innerText = "Location can contain only letters and spaces";
                }
                document.getElementById("location-val").hidden = false;
                document.getElementById("save").disabled = true;
            } else {
                document.getElementById("location-val").hidden = true;
                document.getElementById("save").disabled = false;
            }
        });
        $('#startdate').on('change', function () {
            if (Date.parse(this.value) >= Date.parse(document.getElementById("enddate").value)) {
                document.getElementById("enddate").value = DateToString(new Date(this.value), 1);
            }
            document.getElementById("enddate").min = DateToString(new Date(this.value), 1);
        });
        $('#enddate').on('change', function () {
            if (Date.parse(this.value) <= Date.parse(document.getElementById("startdate").value)) {
                document.getElementById("startdate").value = DateToString(new Date(this.value), -1);
            }
            document.getElementById("startdate").max = DateToString(new Date(this.value), -1);
        });
        $('#maxNum').on('change', function () {
        const regex = /^[1-9]{1}[0-9]*$/
            if (!document.getElementById("maxNum").value.match(regex)) {
                if (document.getElementById("maxNum").value == "") {
                    document.getElementById("maxNum-val").innerText = "This field is required";
                } else {
                    document.getElementById("maxNum-val").innerText = "Invalid number";
                }
                document.getElementById("maxNum-val").hidden = false;
                document.getElementById("save").disabled = true;
            } else {
                document.getElementById("maxNum-val").hidden = true;
                document.getElementById("save").disabled = false;
            }
        });
        $('#arrangementDescription').on('change', function () {
        if (document.getElementById("arrangementDescription").value == "") {
            document.getElementById("arrangementDescription-val").innerText = "This field is required";
            document.getElementById("arrangementDescription-val").hidden = false;
            document.getElementById("save").disabled = true;
        } else {
            document.getElementById("arrangementDescription-val").hidden = true;
            document.getElementById("save").disabled = false;
        }
    });
        $('#travelDescription').on('change', function () {
            if (document.getElementById("travelDescription").value == "") {
                document.getElementById("travelDescription-val").innerText = "This field is required";
                document.getElementById("travelDescription-val").hidden = false;
                document.getElementById("save").disabled = true;
            } else {
                document.getElementById("travelDescription-val").hidden = true;
                document.getElementById("save").disabled = false;
            }
        });

        $('#choose-btn').on('click', function () {
            $('#poster-path').trigger('click');
        });

        $('#poster-path').on('change', function () {
            var imgFile = document.getElementById('poster-path');
            if (imgFile.files && imgFile.files[0]) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var dataUri = event.target.result;
                    var imgEl = document.getElementById("poster-img");
                    imgEl.src = dataUri;
                };
                reader.onerror = function (event) {
                    console.error("File could not be read! Code " + event.target.error.code);
                };
                reader.readAsDataURL(imgFile.files[0]);
            }
        });

        $('#save').on('click', function () {
            var map_fields = document.getElementsByClassName('map-field');
            for (var i = 0; i < map_fields.length; i++) {
                map_fields[i].disabled = false;
            }
            document.getElementById('form_edit_arrangement').submit();
        });

        map.on('singleclick', function (e) {
            SetNewPoint(e);
        });

        function SetNewPoint(e) {
            if (e == null) {
                return;
            }
            if (pointCoordinates != null) {
                // remove draw from this coordinates
                drawSource.removeFeature(newPOD);
            }
            drawPoint(e.coordinate);
        }

        function drawPoint(coordinates) {
            var newPoint = new ol.geom.Point(coordinates);
            newPOD = new ol.Feature({
                    name: 'Place of departure',
                    geometry: newPoint
            });
            let style = new ol.style.Style({
                        image: new ol.style.Circle({
                            fill: new ol.style.Fill({
                                color: '#dc143c'
                            }),
                            stroke: new ol.style.Stroke({
                                color: '#dc143c'
                            }),
                            radius: 5
                        }),
                    });
            newPOD.setStyle(style);
            drawSource.addFeature(newPOD);
            pointCoordinates = coordinates;
            reverseGeocode(pointCoordinates);
            view.setCenter(ol.proj.transform(pointCoordinates, 'EPSG:4326', 'EPSG:4326'));
        }

        function reverseGeocode(coords) {
            fetch('http://nominatim.openstreetmap.org/reverse?format=json&lon=' + coords[0] + '&lat=' + coords[1])
                .then(function (response) {
                return response.json();
            }).then(function (json) {
            document.getElementById("street").value = json.address.road;
            document.getElementById("house_number").value = json.address.house_number;
            document.getElementById("city").value = json.address.city;
            document.getElementById("postal").value = json.address.postcode;
            document.getElementById("latitude").value = json.lat;
            document.getElementById("longitude").value = json.lon;
            });
        }

        function SetMinStartDate() {
            document.getElementById('startdate').min = DateToString(new Date(this.value), 0);
        }

        function DateToString(date, dayIncr) {

            var dayNum = date.getDate() + dayIncr;
            var day, month;
            if (dayNum / 10 < 1) {
                day = "0" + dayNum;
            } else {
                day = dayNum;
            }
            var monthNum = date.getMonth() + 1;
            if (monthNum / 10 < 1) {
                month = "0" + monthNum;
            } else {
                month = monthNum;
            }
            var year = date.getFullYear();

            return year + "-" + month + "-" + day;
        }
    });
</script>
<body>
    <form id="form_edit_arrangement" action="~/Manager/UpdateArrangement" enctype="multipart/form-data" method="post">
        <style>
            #save-cancel-container{
                width: 200px;
            }
            #save{
                width: 100%;
            }
            #cancel {
                width: 100%;
            }
            .validation-field{
                color: crimson;
            }
        </style>
        <div class="container" id="save-cancel-container">
            <div class="row">
                <div class="col-sm-6">
                    <input type="button" class="btn btn-success" id="save" name="save" value="Save">
                </div>
                <div class="col-sm-6">
                    <input type="submit" class="btn btn-warning" id="cancel" name="cancel" value="Cancel">
                </div>
            </div>
        </div>
        <div class="container" id="arrangement">
            <div class="row">
                <div class="col-sm-3 form-group">
                    <input type="text" id="arrangement_id" name="arrangement_id" value="@Model.ID" hidden="hidden" />
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" value="@Model.Name" />
                    <div class="validation-field" id="name-val" hidden="hidden">
                        Validation message
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="location">Location</label>
                    <input class="form-control" id="location" name="location" value="@Model.Location" />
                    <div class="validation-field" id="location-val" hidden="hidden">
                        Validation message
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="arrangementType">Type of arrangement</label>
                    @Html.DropDownList("arrangementType", (List<SelectListItem>)Model.BindArrangementType(), new { @class = "form-control" })
                </div>
                <div class="col-sm-3 form-group">
                    <label for="transport">Transport</label>
                    @Html.DropDownList("transport", (List<SelectListItem>)Model.BindTransport(), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="startdate">Start date</label>
                    <input type="date" class="form-control" id="startdate" name="startdate" value="@Model.ConvertDateForView(Model.StartDate, "-")" />
                </div>
                <div class="col-sm-3 form-group">
                    <label for="enddate">End date</label>
                    <input type="date" class="form-control" id="enddate" name="enddate" value="@Model.ConvertDateForView(Model.EndDate, "-")" />
                </div>
                <div class="col-sm-3 form-group">
                    <label for="timeOfDeparture">Time of departure</label>
                    <input type="time" class="form-control" id="timeOfDeparture" name="timeOfDeparture" value="@Model.TimeOfDeparture" />
                </div>
                <div class="col-sm-3 form-group">
                    <label for="maxNum">Maximum number of passengers</label>
                    <input type="number" class="form-control" id="maxNum" name="maxNum" value="@Model.MaxNumOfPassengers" />
                    <div class="validation-field" id="maxNum-val" hidden="hidden">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="arrangementDescription">Arrangement description</label>
                    <textarea class="form-control" id="arrangementDescription" name="arrangementDescription">@Model.ArrangementDescription</textarea>
                    <div class="validation-field" id="arrangementDescription-val" hidden="hidden">
                        Validation message
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="travelDescription">Travel description</label>
                    <textarea class="form-control" id="travelDescription" name="travelDescription">@Model.TravelDescription</textarea>
                    <div class="validation-field" id="travelDescription-val" hidden="hidden">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <style>
                        #choose-btn {
                            z-index: 1;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            margin-bottom: 0px;
                            background-color: white;
                            color: black;
                        }
                        #poster-div{
                            height: 100%;
                            width: 100%;
                            position: relative;
                        }
                    </style>
                    <label for="poster-img">Poster</label>
                    <div id="poster-div">
                        <img src=@Model.Poster alt="Poster of arrangement" class="img-thumbnail" id="poster-img" />
                        <button id="choose-btn" class="btn" type="button">Choose image</button>
                        <input type="file" id="poster-path" name="poster-path" hidden="hidden" />
                    </div>
                </div>
                <div class="col-sm-8 form-group map-container" id="map">
                    <label for="placeOfDeparture">Place of departure</label>
                </div>
            </div>
            <div class="row map_data">
                <div class="col-sm-3 form-group">
                    <label for="street">Street</label>
                    <input class="form-control map-field" type="text" id="street" disabled="disabled" name="street" value="@Model._PlaceOfDeparture.GetStreet()" />
                </div>
                <div class="col-sm-1 form-group">
                    <label for="house_number">Number</label>
                    <input class="form-control map-field" type="number" id="house_number" disabled="disabled" name="number" value="@Model._PlaceOfDeparture.GetHouseNumber()" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="city">City</label>
                    <input class="form-control map-field" type="text" id="city" disabled="disabled" name="city" value="@Model._PlaceOfDeparture.GetCity()" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="postal">Postal code</label>
                    <input class="form-control map-field" type="number" id="postal" disabled="disabled" name="postal" value="@Model._PlaceOfDeparture.GetPostalCode()" />
                </div>
                <input type="text" id="address" name="address" hidden="hidden">
                <div class="col-sm-2 form-group">
                    <label for="latitude">Latitude</label>
                    <input class="form-control map-field" type="number" step="any" id="latitude" disabled="disabled" name="latitude" value="@Model._PlaceOfDeparture.Latitude" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="longitude">Longitude</label>
                    <input class="form-control map-field" type="number" step="any" id="longitude" disabled="disabled" name="longitude" value="@Model._PlaceOfDeparture.Longitude" />
                </div>
            </div>
        </div>
    </form>
</body>