﻿@model Web1App.ViewModels.HomeArrangementsViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Manager/NavBar.cshtml";
}
<head>
    <link href="~/Content/Home.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {

            if ("@ViewBag.message" == "True") {
                alert("@ViewBag.messageText");
            }

            $('#search').on('click', function () {
                $('#form').submit();
            });
        });
    </script>
    <form action="~/Manager/SearchSortMyArrangements" method="post" id="form">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 form-group left-form-group">
                    <div class="row control-row">
                        <div class="col-sm-6 form-group content-group">
                            <label class="bold-label" for="startlow">Start [ From ]</label>
                            <input class="form-control" type="date" id="startDateFrom" name="startDateFrom" value="@Model.ArrangementsSearch.StartDateFrom" />
                        </div>
                        <div class="col-sm-6 form-group content-group">
                            <label class="bold-label" for="starthigh">Start [ To ]</label>
                            <input class="form-control" type="date" id="startDateTo" name="startDateTo" value="@Model.ArrangementsSearch.StartDateTo" />
                        </div>
                    </div>
                    <div class="row control-row">
                        <div class="col-sm-6 form-group content-group">
                            <label class="bold-label" for="endlow">End [ From ]</label>
                            <input class="form-control" type="date" id="endDateFrom" name="endDateFrom" value="@Model.ArrangementsSearch.EndDateFrom" />
                        </div>
                        <div class="col-sm-6 form-group content-group">
                            <label class="bold-label" for="endhigh">End [ To ]</label>
                            <input class="form-control" type="date" id="endDateTo" name="endDateTo" value="@Model.ArrangementsSearch.EndDateTo" />
                        </div>
                    </div>
                    <div class="row control-row">
                        <div class="col-sm-12 form-group content-group">
                            <label class="bold-label" for="name">Name</label>
                            <input class="form-control" type="text" id="name" name="name" value="@Model.ArrangementsSearch.Name" placeholder="Enter text..." />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 form-group right-form-group">
                    <div class="row control-row">
                        <div class="col-sm-12 form-group content-group">
                            <label class="bold-label" for="transport">Transport</label>
                            @Html.DropDownList("transport", (List<SelectListItem>)Model.ArrangementsSearch.BindTransport(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row control-row">
                        <div class="col-sm-12 form-group content-group">
                            <label class="bold-label" for="arrangementType">Arrangement type</label>
                            @Html.DropDownList("arrangementType", (List<SelectListItem>)Model.ArrangementsSearch.BindArrangementType(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row control-row">
                        <div class="col-sm-12 form-group content-group search-group">
                            <div class="empty-search-div"></div>
                            <input class="btn" type="submit" id="search" name="search" value="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="arrangementsSort">
            <div class="row">
                <div class="col-sm-10 form-group" id="sort-select-div">
                    @Html.DropDownList("arr_sort", (List<SelectListItem>)Model.ArrangementsSort.BindArrangementSort(), new { @class = "form-control" })
                </div>
                <div class="col-sm-2 form-group" id="sort-submit">
                    <input type="submit" name="sort" id="sort" class="btn form-control" value="Sort">
                </div>
            </div>
        </div>
    </form>
    <div id="ArrangementsTable">
        <script type="text/javascript">
            $(document).ready(function () {
                $('#arrangementsTable').DataTable({
                    "pagingType": "first_last_numbers",
                    "pageLength": 5,
                    "lengthMenu": [[5], [5]],
                    "bSort": false,
                    "language": {
                        "lengthMenu": "Show _MENU_  arrangements",
                        "info": "Showing _START_ to _END_ of _TOTAL_ arrangements",
                        "infoEmpty": "Showing 0 to 0 of 0 arrangements",
                    }
                });
                $('.dataTables_length').addClass('bs-select');
            });
        </script>
        <div class="container" id="arrangements">
            <div class="table-responsive" id="tableResults">
                <table class="table" id="arrangementsTable">
                    <thead>
                        <tr>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Days</th>
                            <th scope="col">Poster</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price(min)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var a in Model.Arrangements)
                            {
                                <tr class="clickable-row" id="@a.ID">
                                    <td>@a.GetStartDateForPresentation()</td>
                                    <td>@a.GetEndDateForPresentation()</td>
                                    <td>@a.CalculateDays()</td>
                                    <td><img class="poster" src="@a.Poster" alt="image" /></td>
                                    <td>@a.Name</td>
                                    <td>@a.FindMinimalPrice()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <form id="form_select_arrangement" action="~/Manager/SelectArrangement" method="post" hidden="hidden">
                    <input id="arrangement_id" name="arrangement_id" type="text" value="" hidden="hidden" />
                </form>
                <script type="text/javascript">
                    $(document).on("click", ".clickable-row", function () {
                        document.getElementById('arrangement_id').value = this.id;
                        $('#form_select_arrangement').submit();
                    });
                </script>
            </div>
        </div>
    </div>
</body>
