﻿@{
    ViewBag.Title = "NewArrangement";
    Layout = "~/Views/Shared/Manager/NavBar.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<style>
    body{
        background-color: crimson;
    }
    .container {
        background-color: white;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #poster {
        height: 100%;
        width: 100%;
    }
    .validation-field{
        color: crimson;
    }
    .img-btn-row{
        justify-content: center;
    }
    .img-btn{
        width: 40%;
    }
    img{
        width: 150px;
        height: 150px;
    }
    .create-btn-col{
        text-align: right;
    }
    #create-btn{
        width: 10%;
    }
    #map {
        height: 400px;
    }
    .img-container{
        width: 150px;
        height: 200px;
    }
</style>
<script type="text/javascript">
    $('document').ready(function () {

        // img src
        var oldImgSrc = document.getElementById("poster").src;



        var today = new Date();
        var hours = today.getHours();
        if (hours.toString().length == 1) {
            hours = "0" + hours.toString();
        }
        var minutes = today.getMinutes();
        if (minutes.toString().length == 1) {
            minutes = "0" + minutes.toString();
        }
        document.getElementById("timeOfDeparture").value = hours + ":" + minutes;

        if ("@ViewBag.message" == "True") {
            alert("@ViewBag.messageText");
        }


        var validation = {

            name: false,
            location: false,
            maxNum: false,
            arrangementDesc: false,
            travelDesc: false,
            map: false,
            //----------------------
            form: false,
            //----------------------
            'ValidateName': function () {
                const regex = /^[A-Za-z\s]+$/;
                if (!document.getElementById("name").value.match(regex)) {
                    if (document.getElementById("name").value == "") {
                        document.getElementById("name-val").innerText = "This field is required";
                    } else {
                        document.getElementById("name-val").innerText = "Name can contain only letters and spaces";
                    }
                    document.getElementById("name-val").hidden = this.name = false;
                } else {
                    document.getElementById("name-val").hidden = this.name = true;
                }
                this.ValidateForm();
            },
            'ValidateLocation': function () {
                const regex = /^[A-Za-z\s]+$/;
                if (!document.getElementById("location").value.match(regex)) {
                    if (document.getElementById("location").value == "") {
                        document.getElementById("location-val").innerText = "This field is required";
                    } else {
                        document.getElementById("location-val").innerText = "Location can contain only letters and spaces";
                    }
                    document.getElementById("location-val").hidden = this.location = false;
                } else {
                    document.getElementById("location-val").hidden = this.location = true;
                }
                this.ValidateForm();
            },
            'ValidateMaxNum': function () {
                var value = document.getElementById('maxNum').value;
                if (value == "") {
                    document.getElementById('maxNum-val').innerText = "This field is required";
                    document.getElementById("maxNum-val").hidden = this.maxNum = false;
                } else {
                    const regex = /^[1-9]{1}[0-9]*$/
                    if (!value.match(regex)) {
                        document.getElementById('maxNum-val').innerText = "Invalid number";
                        document.getElementById("maxNum-val").hidden = this.maxNum = false;
                    } else {
                        document.getElementById("maxNum-val").hidden = this.maxNum = true;
                    }
                }
                this.ValidateForm();
            },
            'ValidateArrangementDesc': function () {
                var value = document.getElementById('arrangDescription').value;
                if (value != "") {
                    document.getElementById("arrangDescription-val").hidden = this.arrangementDesc = true;
                } else {
                    document.getElementById("arrangDescription-val").hidden = this.arrangementDesc = false;
                    document.getElementById("arrangDescription-val").innerText = "This field is required";
                }
                this.ValidateForm();
            },
            'ValidateTravelDesc': function () {
                var value = document.getElementById('travelDescription').value;
                if (value != "") {
                    document.getElementById("travelDescription-val").hidden = this.travelDesc = true;
                } else {
                    document.getElementById("travelDescription-val").hidden = this.travelDesc = false;
                    document.getElementById("travelDescription-val").innerText = "This field is required";
                }
                this.ValidateForm();
            },
            'ValidateForm': function () {
                this.form = this.name && this.location &&
                    this.maxNum &&
                    this.arrangementDesc && this.travelDesc && this.map;
                if (this.form) {
                    document.getElementById('create-btn').disabled = false;
                } else{
                    document.getElementById('create-btn').disabled = true;
                }
            },
        }
        $('#name').on('change', function () {
            validation.ValidateName();
        });
        $('#location').on('change', function () {
            validation.ValidateLocation();
        });
        $('#startdate').on('change', function () {
            if (Date.parse(this.value) >= Date.parse(document.getElementById("enddate").value)) {
                document.getElementById("enddate").value = DateToString(new Date(this.value), 1);
            }
            document.getElementById("enddate").min = DateToString(new Date(this.value), 1);
        });
        $('#enddate').on('change', function () {
            if (Date.parse(this.value) <= Date.parse(document.getElementById("startdate").value)) {
                document.getElementById("startdate").value = DateToString(new Date(this.value), -1);
            }
            document.getElementById("startdate").max = DateToString(new Date(this.value), -1);
        });
        $('#maxNum').on('change', function () {
            validation.ValidateMaxNum();
        });
        $('#timeOfDeparture').on('change', function () {
            validation.timeOfDeparture = true;
            validation.ValidateForm();
        });
        $('#arrangDescription').on('change', function () {
            validation.ValidateArrangementDesc();
        });
        $('#travelDescription').on('change', function () {
            validation.ValidateTravelDesc();
        });
        $('#create-btn').on("click", function () {
            document.getElementById('street').disabled = false;
            document.getElementById('house_number').disabled = false;
            document.getElementById('city').disabled = false;
            document.getElementById('postal').disabled = false;
            document.getElementById('latitude').disabled = false;
            document.getElementById('longitude').disabled = false;
            document.getElementsByTagName('form')[0].submit();
        });
        $('#add-btn').on("click", function () {
            $('#poster-path').trigger('click');
        });
        $('#rem-btn').on("click", function () {
            var imgEl = document.getElementById("poster");
            imgEl.src = oldImgSrc;
            deleteImgFile();
        });
        $('#poster-path').on('change', function () {
            var imgFile = document.getElementById('poster-path');
            if (imgFile.files && imgFile.files[0]) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var dataUri = event.target.result;
                    var imgEl = document.getElementById("poster");
                    imgEl.src = dataUri;
                };
                reader.onerror = function (event) {
                    console.error("File could not be read! Code " + event.target.error.code);
                };
                reader.readAsDataURL(imgFile.files[0]);
            }
        });


        var view = new ol.View({
            projection: 'EPSG:4326',
            center: [19.833549, 45.267136],
            zoom: 6,
            minZoom: 3,
            maxZoom: 17,
        });

        var OSMBaseMap = new ol.layer.Tile({
            source: new ol.source.OSM({
                wrapX: false
            })
        });

        var layerArray = [OSMBaseMap];

        var map = new ol.Map({
            target: 'map',
            layers: layerArray,
            view: view
        });

        var drawSource = new ol.source.Vector();
        var drawLayer = new ol.layer.Vector({
            source: drawSource
        });
        map.addLayer(drawLayer);

        var oldCoordinates = null;
        var newPOD = null;

        map.on('singleclick', function (e) {
            if (oldCoordinates != null) {
                // remove draw from this coordinates
                drawSource.removeFeature(newPOD);
            }
            // assign new value to oldCoordinates
            var newPoint = new ol.geom.Point(e.coordinate);
            newPOD = new ol.Feature({
                name: 'Place of departure',
                geometry: newPoint 
            });
            let style = new ol.style.Style({
                image: new ol.style.Circle({
                    fill: new ol.style.Fill({
                        color: '#dc143c'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#dc143c'
                    }),
                    radius: 5
                }),
            });
            newPOD.setStyle(style);
            drawSource.addFeature(newPOD);
            oldCoordinates = e.coordinate;
            reverseGeocode(oldCoordinates);
            view.setCenter(ol.proj.transform(oldCoordinates, 'EPSG:4326', 'EPSG:4326'));
            validation.map = true;
            validation.ValidateForm();
        });

        function DateToString(date, dayIncr) {

            var dayNum = date.getDate() + dayIncr;
            var day, month;
            if (dayNum / 10 < 1) {
                day = "0" + dayNum;
            } else {
                day = dayNum;
            }
            var monthNum = date.getMonth() + 1;
            if (monthNum / 10 < 1) {
                month = "0" + monthNum;
            } else {
                month = monthNum;
            } 
            var year = date.getFullYear();

            return year + "-" + month + "-" + day;
        }
        function ConvertStringDate(strdate) {
            // convert from yyyy-mm-dd to dd/mm/yyyy
            var dateParts = strdate.Split('/');
            return dateParts[2] + "/" + dateParts[1] + "/" + dateParts[0];
        }
        function reverseGeocode(coords) {
            fetch('http://nominatim.openstreetmap.org/reverse?format=json&lon=' + coords[0] + '&lat=' + coords[1])
                .then(function (response) {
                    return response.json();
                }).then(function (json) {
                    //console.log(json);
                    document.getElementById("street").value = json.address.road;
                    document.getElementById("house_number").value = json.address.house_number;
                    document.getElementById("city").value = json.address.city;
                    document.getElementById("postal").value = json.address.postcode;
                    document.getElementById("latitude").value = json.lat;
                    document.getElementById("longitude").value = json.lon;
                    validation.ValidateForm();
                });
        }
        function ClearForm() {
            var formCtrls = document.getElementsByClassName("form-control");
            for (var i = 0; i < formCtrls.length; i++) {
                if (formCtrls[i].nodeName == "INPUT") {
                    formCtrls[i].value = "";
                }
            }
        }
    });
</script>
<body>
    <form action="~/Manager/Create" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <h3>Create New Arrangement</h3>
                    <br />
                    <h6>All fields are required</h6>
                </div>
                <div class="col-sm-6 form-group">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="poster">Poster</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group img-container">
                            <img src="\Images\travel-logo.png" alt="Poster of arrangement" class="img-thumbnail" id="poster" />
                            <input type="file" id="poster-path" hidden="hidden" name="poster-path" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <button type="button" class="btn btn-primary img-btn" id="add-btn">Add Image</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" />
                    <div class="validation-field" id="name-val" hidden="hidden">
                        Validation message
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="location">Location</label>
                    <input class="form-control" id="location" name="location" />
                    <div class="validation-field" id="location-val" hidden="hidden">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="arranType">Type of arrangement</label>
                    <select class="form-control" id="arranType" name="arranType">
                        <option value="BB">Bed and Breakfast</option>
                        <option value="HALFBOARD">Half Board</option>
                        <option value="FULLBOARD">Full Board</option>
                        <option value="ALLINCLUSIVE">All Inclusive</option>
                        <option value="RENTAPARTMENT">Rent Apartment</option>
                    </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="transport">Transport</label>
                    <select class="form-control" id="transport" name="transport">
                        <option value="BUS">Bus</option>
                        <option value="AIRPLANE">Airplane</option>
                        <option value="BUSnAIRPLANE">Bus and Airplane</option>
                        <option value="INDIVIDUAL">Individual</option>
                        <option value="OTHER">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="startdate">Start date</label>
                    <input type="date" class="form-control" id="startdate" name="startdate" />
                </div>
                <div class="col-sm-6 form-group">
                    <label for="enddate">End date</label>
                    <input type="date" class="form-control" id="enddate" name="enddate" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="timeOfDeparture">Time of departure</label>
                    <input type="time" class="form-control" id="timeOfDeparture" name="timeOfDeparture" />
                    <div class="validation-field" id="timeOfDeparture-val" hidden="hidden">
                        Validation message
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="maxNum">Maximum number of passengers</label>
                    <input type="number" class="form-control" id="maxNum" name="maxNum" />
                    <div class="validation-field" id="maxNum-val" hidden="hidden">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="arrangDescription">Arrangement description</label>
                    <textarea class="form-control" id="arrangDescription" name="arrangDescription"></textarea>
                    <div class="validation-field" id="arrangDescription-val" hidden="hidden">
                        Validation message
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="travelDescription">Travel description</label>
                    <textarea class="form-control" id="travelDescription" name="travelDescription"></textarea>
                    <div class="validation-field" id="travelDescription-val" hidden="hidden">
                        Validation message
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group map-container" id="map">
                    <label for="placeOfDeparture">Place of departure</label>
                </div>
            </div>
            <style>
                .mdr{
                    margin-top: 15px;
                }
            </style>
            <div class="row mdr">
                <div class="col-sm-3 form-group">
                    <label for="street">Street</label>
                    <input class="form-control" id="street" disabled="disabled" name="street" />
                </div>
                <div class="col-sm-1 form-group">
                    <label for="house_number">Number</label>
                    <input class="form-control" id="house_number" disabled="disabled" name="number" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="city">City</label>
                    <input class="form-control" id="city" disabled="disabled" name="city" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="postal">Postal code</label>
                    <input class="form-control" id="postal" disabled="disabled" name="postal" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="latitude">Latitude</label>
                    <input class="form-control" id="latitude" disabled="disabled" name="latitude" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="longitude">Longitude</label>
                    <input class="form-control" id="longitude" disabled="disabled" name="longitude" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 create-btn-col">
                    <button type="button" class="btn btn-success" id="create-btn" disabled="disabled">Create</button>
                </div>
            </div>
        </div>
    </form>
</body>
