﻿
@{
    ViewBag.Title = "NewAccommodation";
    Layout = "~/Views/Shared/Manager/NavBar.cshtml";
}

<head>

</head>
<style>
    .container {
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: white;
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #create{
        margin-top: 15px;
        width: 100px;
        border-radius: 5px;
    }
    .validation{
        color: crimson;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        ClearForm();

        $('#name').on('change', function () {
            const regex = /^([A-Za-z0-9 /-])+$/
            if (!document.getElementById('name').value.match(regex)) {
                if (document.getElementById('name').value == "") {
                    document.getElementById('val-name').innerText = "This field is required";
                } else {
                    document.getElementById('val-name').innerText = "Invalid name";
                }
                document.getElementById('val-name').hidden = false;
                document.getElementById('create').disabled = true;
            } else {
                document.getElementById('val-name').hidden = true;
                document.getElementById('create').disabled = false;
            }
        });
        $('#pool').on('change', function () {
            var el = document.getElementById('pool');
            if (el.checked) {
                el.value = "true";
            } else {
                el.value = "false";
            }
        });
        $('#spa').on('change', function () {
            var el = document.getElementById('spa');
            if (el.checked) {
                el.value = "true";
            } else {
                el.value = "false";
            }
        });
        $('#pwd').on('change', function () {
            var el = document.getElementById('pwd');
            if (el.checked) {
                el.value = "true";
            } else {
                el.value = "false";
            }
        });
        $('#wifi').on('change', function () {
            var el = document.getElementById('wifi');
            if (el.checked) {
                el.value = "true";
            } else {
                el.value = "false";
            }
        });

        function ClearForm() {
            var formCtrls = document.getElementsByClassName("form-control");
            for (var i = 0; i < formCtrls.length; i++) {
                formCtrls[i].checked = false;
            }
        }
    });
</script>
<body>
    <form action="~/Manager/CreateAccommodation">
        <div class="container">
            <h4>Create New Accommodation</h4>
            <h6>All fields are required</h6>
            <br />
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="acc_type">Type</label>
                    <select class="form-control" id="acc_type" name="acc_type">
                        <option selected value="HOTEL">Hotel</option>
                        <option value="MOTEL">Motel</option>
                        <option value="VILLA">Villa</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" type="text" name="name" />
                    <div class="validation" id="val-name" hidden="hidden">
                        Validation text
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 form-group">
                    <label for="pool">Pool</label>
                    <input class="form-control" id="pool" type="checkbox" name="pool" value="false" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 form-group">
                    <label for="spa">Spa</label>
                    <input class="form-control" id="spa" type="checkbox" name="spa" value="false" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="pwd">Adapted for people with disabilities</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1 form-group">
                            <input class="form-control" id="pwd" type="checkbox" name="pwd" value="false" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 form-group">
                    <label for="wifi">WiFi</label>
                    <input class="form-control" id="wifi" type="checkbox" name="wifi" value="false" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-success" id="create" type="submit" disabled="disabled">Create</button>
                </div>
            </div>
        </div>
        <input type="text" name="arrangement_id" value="@ViewBag.arrangement_id" hidden />
    </form>
</body>



