﻿@{
    ViewBag.Title = "NewAccommodationUnit";
    Layout = "~/Views/Shared/Manager/NavBar.cshtml";
}

<head>

</head>
<style>
    .container {
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: white;
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #create {
        margin-top: 15px;
        width: 100px;
        border-radius: 5px;
    }

    .validation-field{
        color: crimson;
    }

</style>
<body>
    <script type="text/javascript">
        $(document).ready(function () {

            if ("@ViewBag.message" == "True") {
                alert("@ViewBag.messageText");
            }

            $('#maxNum').on('change', function () {
                var number = document.getElementById('maxNum').value.toString();
                const regex = /^[1-9]{1}[0-9]*$/;
                if (!number.match(regex)) {
                    document.getElementById("maxNum-val").hidden = false;
                } else {
                    document.getElementById("maxNum-val").hidden = true;
                }
                CheckButtonDisabled();
            });
            $('#price').on('change', function () {
                var number = document.getElementById('price').value.toString();
                if (number == "") {
                    document.getElementById("price-val").hidden = false;
                } else {
                    document.getElementById("price-val").hidden = true;
                }
                CheckButtonDisabled();
            });

            $('#name').on('change', function () {
                const regex = /^[a-zA-Z0-9 ]+$/;
                var name = document.getElementById('name').value.toString();
                var valEl = document.getElementById("name-val");
                if (!name.match(regex)) {
                    valEl.hidden = false;
                    if (name == "") {
                        valEl.innerText = "This field is required"
                    } else {
                        valEl.innerText = "Only alphanumeric characters are allowed"
                    }
                } else {
                    valEl.hidden = true;
                }
                CheckButtonDisabled();
            });

              function CheckButtonDisabled() {
                if (document.getElementById('maxNum').value.toString() != "" &&
                    document.getElementById('maxNum-val').hidden &&
                    document.getElementById('price').value.toString() != "" &&
                    document.getElementById('price-val').hidden &&
                    document.getElementById('name').value.toString() != "" &&
                    document.getElementById('name-val').hidden) {
                    document.getElementById('create').disabled = false;
                    return;
                }
                document.getElementById('create').disabled = true;
            }

            function ClearForm() {
                var formCtrls = document.getElementsByClassName("form-control");
                for (var i = 0; i < formCtrls.length; i++) {
                    formCtrls[i].value = "";
                    formCtrls[i].checked = false;
                    formCtrls[i].removeAttribute("selected");
                }
            }

        });
    </script>
    <div class="container">
        <form action="~/Manager/CreateNewAccommodationUnit" method="post">
            <h4>Create New Accommodation Unit</h4>
            <h6>All fields are required</h6>
            <br />
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" />
                    <div class="validation-field" id="name-val" hidden="hidden">
                        Invalid input
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="maxNum">Maximal number of guests</label>
                    <input class="form-control" type="number" name="maxNum" id="maxNum" />
                    <div class="validation-field" id="maxNum-val" hidden="hidden">
                        Invalid input
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 form-group">
                    <label for="pets">Pets</label>
                    <input class="form-control" type="checkbox" name="pets" id="pets" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="price" id="price" />
                    <div class="validation-field" id="price-val" hidden="hidden">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-success" id="create" disabled="disabled">Create</button>
                </div>
            </div>
            <input type="text" name="arrangement_id" value="@ViewBag.arrangement_id" hidden>
            <input type="text" name="accommodation_id" value="@ViewBag.accommodation_id" hidden />
        </form>
    </div>
</body>
